# GENERATED by docs-site/tools/build_openapi.py from the recorded responses. Do not edit.
openapi: 3.1.0
info:
  title: TheSportsDB API v1
  version: v1 (measured 5 Oct 2026)
  description: |
    TheSportsDB is an open, crowd-sourced database of sports data and artwork. **v1** works with the free keys and with premium keys.

    ```
    GET https://www.thesportsdb.com/api/v1/json/{apiKey}/{endpoint}.php?{parameters}
    ```

    - **Keys:** `123` is the free key for development and testing; the older `3` also works, with the same limits. Premium keys get full results. The key is part of the URL, so treat v1 URLs as secrets.
    - **Free limits:** each endpoint's description gives the records returned to the free and premium keys, measured on 5 Oct 2026, next to the documented limits.
    - **Responses:** one JSON object with one key holding an array of records. The key depends on the endpoint, and each endpoint lists its key. The records' values are strings or `null`.
    - **No results:** the key with `null`, or an empty body. A rejected parameter comes back as text in place of the records, e.g. `{"seasons":"Invalid League ID passed"}`.
    - **Times:** `dateEvent`, `strTime` and `strTimestamp` are **UTC**.
    - **Rate limit:** 30 requests a minute on the free keys, 100 premium, 120 business. Over the limit: HTTP 429; wait a minute.

    The guides cover these in detail, with recipes for common tasks.
  termsOfService: https://www.thesportsdb.com/docs_terms_of_use.php
servers:
- url: https://www.thesportsdb.com
tags:
- name: Search
  description: Find records by name.
- name: Lookup
  description: Fetch records by id, and the details attached to a team, player or event.
- name: Lists
  description: Lists of leagues, seasons, teams and players.
- name: Schedules
  description: Fixtures and results. Times are UTC.
- name: TV
  description: 'TV listings: which channels show which events.'
- name: Video
  description: Highlight videos.
- name: Live scores
  description: Games in progress.
paths:
  /api/v1/json/{apiKey}/searchteams.php:
    get:
      operationId: searchTeams
      tags:
      - Search
      summary: Search teams by name
      description: |-
        The free keys only find the exact team (1 record).

        Records measured 5 Oct 2026: free key **1**, premium key **15**.

        Documented limit: 1 / 100 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      - name: t
        in: query
        required: true
        description: Team name. Spaces as `%20` or `_`.
        schema:
          type: string
        example: Arsenal
      responses:
        '200':
          description: The records under `teams`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  teams:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/Team'
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                teams:
                - idTeam: '133604'
                  idESPN: '359'
                  idAPIfootball: '42'
                  intLoved: '10'
                  strTeam: Arsenal
                  strTeamAlternate: Arsenal Football Club, AFC, Arsenal FC
                  strTeamShort: ARS
                  intFormedYear: '1892'
                  strSport: Soccer
                  strLeague: English Premier League
                  idLeague: '4328'
                  strLeague2: FA Cup
                  idLeague2: '4482'
                  strLeague3: EFL Cup
                  idLeague3: '4570'
                  strLeague4: UEFA Champions League
                  idLeague4: '4480'
                  strLeague5: Emirates Cup
                  idLeague5: '5648'
                  strLeague6: Club Friendlies
                  idLeague6: '4569'
                  strLeague7: FA Community Shield
                  idLeague7: '4571'
                  strDivision: null
                  idVenue: '15528'
                  strStadium: Emirates Stadium
                  strKeywords: Gunners, Gooners
                  strRSS: ''
                  strLocation: Holloway, London, England
                  strWebsite: www.arsenal.com
                  strFacebook: www.facebook.com/Arsenal
                  strTwitter: twitter.com/arsenal
                  strInstagram: instagram.com/arsenal
                  strDescriptionEN: Arsenal Football Club is a professional football club based in Islington, London, England,
                    that plays in the Premier League, the top flight of English footba…
                  strDescriptionDE: 'Der FC Arsenal (offiziell: Arsenal Football Club) – auch bekannt als (The) Arsenal, (The)
                    Gunners (deutsche Übersetzung: „Schützen“ oder „Kanoniere“) oder im…'
                  strDescriptionFR: "Arsenal Football Club est un club de football anglais fondé le 1er décembre 1886 à Londres.\
                    \ Son siège est situé dans le borough londonien d'Islington.\r\n\r\nArs…"
                  strDescriptionCN: null
                  strDescriptionIT: L'Arsenal Football Club, noto semplicemente come Arsenal, è una società calcistica inglese
                    con sede a Londra, più precisamente nel quartiere di Holloway, nel…
                  strDescriptionJP: "アーセナル・フットボール・クラブ（Arsenal Football Club、イギリス英語発音: [ˈɑːsənl ˈfutˌbɔːl klʌb]）は、イングランドの首都ロンドン北部をホームタウンとする、イングランドプロサッカーリーグ（プレミアリーグ）に加盟するプロサッカークラブ。クラブカラーは赤と白。\r\
                    \n\r\n現…"
                  strDescriptionRU: '«Арсена́л» (официальное полное название — Футбольный клуб «Арсенал», англ. Arsenal Football
                    Club, английское произношение: [ˈɑrsənəl ''futbɔ:l klʌb]) — англий…'
                  strDescriptionES: 'El Arsenal Football Club (pronunciación en inglés: /ˈɑː(ɹ)sənəl ˈfʊtˌbɔl klʌb/) es un
                    club de fútbol profesional con sede en Holloway, Londres, Inglaterra, q…'
                  strDescriptionPT: "Arsenal Football Club é um clube de futebol, fundado e baseado em Londres, capital da\
                    \ Inglaterra.\r\n\r\nO clube disputa a Premier League e é um dos mais bem suc…"
                  strDescriptionSE: null
                  strDescriptionNL: null
                  strDescriptionHU: null
                  strDescriptionNO: Arsenal Football Club er en engelsk fotballklubb som spiller i Premier League. Klubben
                    ble stiftet i 1886, og ble valgt inn i The Football League i 1893. «Th…
                  strDescriptionIL: null
                  strDescriptionPL: null
                  strColour1: '#EF0107'
                  strColour2: '#fbffff'
                  strColour3: '#013373'
                  strGender: Male
                  strCountry: England
                  strBadge: https://r2.thesportsdb.com/images/media/team/badge/uyhbfe1612467038.png
                  strLogo: https://r2.thesportsdb.com/images/media/team/logo/q2mxlz1512644512.png
                  strFanart1: https://r2.thesportsdb.com/images/media/team/fanart/ouqjzl1769332470.jpg
                  strFanart2: https://r2.thesportsdb.com/images/media/team/fanart/db23ct1769332477.jpg
                  strFanart3: https://r2.thesportsdb.com/images/media/team/fanart/k3r9od1769332483.jpg
                  strFanart4: https://r2.thesportsdb.com/images/media/team/fanart/2uvo8p1731313907.jpg
                  strBanner: https://r2.thesportsdb.com/images/media/team/banner/ecl7mi1790192440.jpg
                  strEquipment: https://r2.thesportsdb.com/images/media/team/equipment/fwav4f1752100996.png
                  strYoutube: www.youtube.com/user/ArsenalTour
                  strLocked: unlocked
                - idTeam: '137301'
                  idESPN: null
                  idAPIfootball: '7189'
                  intLoved: null
                  strTeam: Arsenal U21
                  strTeamAlternate: ''
                  strTeamShort: null
                  intFormedYear: '0'
                  strSport: Soccer
                  strLeague: EFL Trophy
                  idLeague: '4847'
                  strLeague2: EFL Trophy
                  idLeague2: '4847'
                  strLeague3: ''
                  idLeague3: null
                  strLeague4: ''
                  idLeague4: null
                  strLeague5: ''
                  idLeague5: null
                  strLeague6: ''
                  idLeague6: null
                  strLeague7: ''
                  idLeague7: null
                  strDivision: null
                  idVenue: '16300'
                  strStadium: Meadow Park
                  strKeywords: ''
                  strRSS: ''
                  strLocation: Borehamwood
                  strWebsite: ''
                  strFacebook: ''
                  strTwitter: twitter.com/ArsenalAcademy
                  strInstagram: ''
                  strDescriptionEN: Arsenal Football Club Academy is the youth system of Arsenal Football Club based in Hale
                    End, London, England. The academy teams play in the Professional Dev…
                  strDescriptionDE: null
                  strDescriptionFR: null
                  strDescriptionCN: null
                  strDescriptionIT: null
                  strDescriptionJP: null
                  strDescriptionRU: null
                  strDescriptionES: null
                  strDescriptionPT: null
                  strDescriptionSE: null
                  strDescriptionNL: null
                  strDescriptionHU: null
                  strDescriptionNO: null
                  strDescriptionIL: null
                  strDescriptionPL: null
                  strColour1: ''
                  strColour2: ''
                  strColour3: ''
                  strGender: Male
                  strCountry: England
                  strBadge: https://r2.thesportsdb.com/images/media/team/badge/0l60011588514201.png
                  strLogo: null
                  strFanart1: null
                  strFanart2: null
                  strFanart3: null
                  strFanart4: null
                  strBanner: null
                  strEquipment: null
                  strYoutube: ''
                  strLocked: unlocked
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/searchevents.php:
    get:
      operationId: searchEvents
      tags:
      - Search
      summary: Search events by name
      description: |-
        Pass at most one of `s` and `d`.

        Records measured 5 Oct 2026: free key **1**, premium key **10**.

        Documented limit: 1 / 10 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      - name: e
        in: query
        required: true
        description: Event name, `Home vs Away`.
        schema:
          type: string
        example: Arsenal_vs_Chelsea
      - name: s
        in: query
        required: false
        description: Narrow to a season.
        schema:
          type: string
        example: 2016-2017
      - name: d
        in: query
        required: false
        description: Narrow to a date, `YYYY-MM-DD`.
        schema:
          type: string
          format: date
        example: '2015-04-26'
      - name: f
        in: query
        required: false
        description: Alternatively, an event filename (same as `searchfilename.php`).
        schema:
          type: string
        example: English_Premier_League_2015-04-26_Arsenal_vs_Chelsea
      responses:
        '200':
          description: The records under `event`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  event:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/Event'
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                event:
                - idEvent: '2494022'
                  idAPIfootball: '1557387'
                  strTimestamp: '2026-09-06T15:30:00'
                  strEvent: Arsenal vs Chelsea
                  strEventAlternate: Chelsea @ Arsenal
                  strFilename: English Premier League 2026-09-06 Arsenal vs Chelsea
                  strSport: Soccer
                  idLeague: '4328'
                  strLeague: English Premier League
                  strLeagueBadge: https://r2.thesportsdb.com/images/media/league/badge/gasy9d1737743125.png
                  strSeason: 2026-2027
                  strDescriptionEN: Defending champions Arsenal welcome Chelsea to the Emirates Stadium for an early-season
                    London derby between two sides that have started the Premier League c…
                  strHomeTeam: Arsenal
                  strAwayTeam: Chelsea
                  intHomeScore: '2'
                  intHomeScoreExtra: null
                  intAwayScoreExtra: null
                  intRound: '3'
                  intAwayScore: '1'
                  intSpectators: null
                  strOfficial: ''
                  strWeather: ''
                  dateEvent: '2026-09-06'
                  dateEventLocal: '2026-09-06'
                  strTime: '15:30:00'
                  strTimeLocal: '16:30:00'
                  strGroup: ''
                  idHomeTeam: '133604'
                  strHomeTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/uyhbfe1612467038.png
                  idAwayTeam: '133610'
                  strAwayTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/pbf4ul1782638263.png
                  intScore: '8'
                  intScoreVotes: '1'
                  strResult: Arsenal recovered from conceding after just 77 seconds to defeat Chelsea 2–1 and preserve their
                    perfect start to the Premier League season. Morgan Rogers gav…
                  idVenue: '15528'
                  strVenue: Emirates Stadium
                  strCountry: England
                  strCity: ''
                  strPoster: https://r2.thesportsdb.com/images/media/event/poster/0l3uib1785931591.jpg
                  strSquare: https://r2.thesportsdb.com/images/media/event/square/xgqyzb1785931689.jpg
                  strFanart: null
                  strThumb: https://r2.thesportsdb.com/images/media/event/thumb/uxuamm1785931532.jpg
                  strBanner: https://r2.thesportsdb.com/images/media/event/banner/m3ktrt1785931642.jpg
                  strMap: null
                  strTweet1: ''
                  strVideo: https://www.youtube.com/watch?v=af99CJ4f_yc
                  strStatus: FT
                  strPostponed: 'no'
                  strLocked: unlocked
                - idEvent: '2401588'
                  idAPIfootball: '1498260'
                  strTimestamp: '2026-02-03T20:00:00'
                  strEvent: Arsenal vs Chelsea
                  strEventAlternate: Chelsea @ Arsenal
                  strFilename: EFL Cup 2026-02-03 Arsenal vs Chelsea
                  strSport: Soccer
                  idLeague: '4570'
                  strLeague: EFL Cup
                  strLeagueBadge: https://r2.thesportsdb.com/images/media/league/badge/x1va771565372556.png
                  strSeason: 2025-2026
                  strDescriptionEN: ''
                  strHomeTeam: Arsenal
                  strAwayTeam: Chelsea
                  intHomeScore: '1'
                  intHomeScoreExtra: null
                  intAwayScoreExtra: null
                  intRound: '150'
                  intAwayScore: '0'
                  intSpectators: null
                  strOfficial: ''
                  strWeather: null
                  dateEvent: '2026-02-03'
                  dateEventLocal: '2026-02-03'
                  strTime: '20:00:00'
                  strTimeLocal: '20:00:00'
                  strGroup: ''
                  idHomeTeam: '133604'
                  strHomeTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/uyhbfe1612467038.png
                  idAwayTeam: '133610'
                  strAwayTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/yvwvtu1448813215.png
                  intScore: null
                  intScoreVotes: null
                  strResult: ''
                  idVenue: '15528'
                  strVenue: Emirates Stadium
                  strCountry: England
                  strCity: ''
                  strPoster: ''
                  strSquare: ''
                  strFanart: null
                  strThumb: https://r2.thesportsdb.com/images/media/event/thumb/4k94qw1768369240.jpg
                  strBanner: ''
                  strMap: null
                  strTweet1: ''
                  strVideo: https://www.youtube.com/watch?v=yQaaKW9CzNM
                  strStatus: FT
                  strPostponed: 'no'
                  strLocked: unlocked
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/searchfilename.php:
    get:
      operationId: searchEventsByFilename
      tags:
      - Search
      summary: Search events by filename
      description: |-
        Records measured 5 Oct 2026: free key **1**, premium key **1**.

        Documented limit: 1 / 10 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      - name: e
        in: query
        required: true
        description: 'Event filename: `{League} {YYYY-MM-DD} {Home} vs {Away}`.'
        schema:
          type: string
        example: English_Premier_League_2015-04-26_Arsenal_vs_Chelsea
      - name: s
        in: query
        required: false
        description: Narrow to a season.
        schema:
          type: string
        example: 2014-2015
      responses:
        '200':
          description: The records under `event`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  event:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/Event'
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                event:
                - idEvent: '480006'
                  idAPIfootball: null
                  strTimestamp: '2015-04-26T16:00:00'
                  strEvent: Arsenal vs Chelsea
                  strEventAlternate: Chelsea @ Arsenal
                  strFilename: English Premier League 2015-04-26 Arsenal vs Chelsea
                  strSport: Soccer
                  idLeague: '4328'
                  strLeague: English Premier League
                  strLeagueBadge: https://r2.thesportsdb.com/images/media/league/badge/dsnjpz1679951317.png
                  strSeason: 2014-2015
                  strDescriptionEN: "Chelsea put in another staunch defensive display to draw 0-0 with Arsenal and take another\
                    \ step closer to sealing the Premier League title.\r\nGeorge Graham, f…"
                  strHomeTeam: Arsenal
                  strAwayTeam: Chelsea
                  intHomeScore: '0'
                  intHomeScoreExtra: null
                  intAwayScoreExtra: null
                  intRound: '34'
                  intAwayScore: '0'
                  intSpectators: '60026'
                  strOfficial: null
                  strWeather: null
                  dateEvent: '2015-04-26'
                  dateEventLocal: null
                  strTime: 15:00:00+00:00
                  strTimeLocal: null
                  strGroup: null
                  idHomeTeam: '133604'
                  strHomeTeamBadge: null
                  idAwayTeam: '133610'
                  strAwayTeamBadge: null
                  intScore: null
                  intScoreVotes: null
                  strResult: null
                  idVenue: null
                  strVenue: null
                  strCountry: null
                  strCity: null
                  strPoster: https://r2.thesportsdb.com/images/media/event/poster/ywstqs1444121556.jpg
                  strSquare: null
                  strFanart: https://r2.thesportsdb.com/images/media/event/fanart/yrsrvp1444121673.jpg
                  strThumb: https://r2.thesportsdb.com/images/media/event/thumb/sswrrr1430243855.jpg
                  strBanner: https://r2.thesportsdb.com/images/media/event/banner/tupqpv1444121225.jpg
                  strMap: https://r2.thesportsdb.com/images/media/event/map/qypvvt1444121357.jpg
                  strTweet1: null
                  strVideo: null
                  strStatus: null
                  strPostponed: 'no'
                  strLocked: unlocked
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/searchplayers.php:
    get:
      operationId: searchPlayers
      tags:
      - Search
      summary: Search players by name
      description: |-
        Returns summary fields plus a `relevance` score.

        Records measured 5 Oct 2026: free key **1**, premium key **1**.

        Documented limit: 1 / 10 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      - name: p
        in: query
        required: true
        description: Player name.
        schema:
          type: string
        example: Danny_Welbeck
      responses:
        '200':
          description: The records under `player`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  player:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/Player'
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                player:
                - idPlayer: '34145395'
                  idTeam: '133610'
                  strPlayer: Danny Welbeck
                  strTeam: Chelsea
                  strSport: Soccer
                  strThumb: https://r2.thesportsdb.com/images/media/player/thumb/f5sgpu1772017716.jpg
                  strCutout: https://r2.thesportsdb.com/images/media/player/cutout/mjo6g31787690678.png
                  strNationality: England
                  dateBorn: '1990-11-26'
                  strStatus: Active
                  strGender: Male
                  strPosition: Centre-Forward
                  relevance: '30.170034408569336'
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/searchvenues.php:
    get:
      operationId: searchVenues
      tags:
      - Search
      summary: Search venues by name
      description: |-
        Records measured 5 Oct 2026: free key **1**, premium key **2**.

        Documented limit: 1 / 10 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      - name: v
        in: query
        required: true
        description: Venue name.
        schema:
          type: string
        example: Wembley
      responses:
        '200':
          description: The records under `venues`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  venues:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/Venue'
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                venues:
                - idVenue: '23604'
                  idDupe: null
                  strVenue: Wembley Centre of Excellence
                  intLoved: null
                  strVenueAlternate: null
                  strVenueSponsor: null
                  strSport: Soccer
                  strDescriptionEN: null
                  strArchitect: null
                  intCapacity: null
                  strCost: null
                  strCountry: Jamaica
                  strLocation: Hayes, Clarendon, Jamaica
                  strTimezone: UTC -05:00 Eastern Standard Time (EST)
                  intFormedYear: '0'
                  strFanart1: null
                  strFanart2: null
                  strFanart3: null
                  strFanart4: null
                  strThumb: null
                  strLogo: null
                  strMap: null
                  strWebsite: ''
                  strFacebook: ''
                  strInstagram: ''
                  strTwitter: null
                  strYoutube: null
                  strCreativeCommons: 'NO'
                  strLocked: unlocked
                - idVenue: '16163'
                  idDupe: null
                  strVenue: Wembley Stadium
                  intLoved: null
                  strVenueAlternate: Wembley
                  strVenueSponsor: ''
                  strSport: Soccer
                  strDescriptionEN: Wembley Stadium (currently known officially as Wembley Stadium connected by EE for commercial
                    sponsorship reasons) is an association football stadium in Wemb…
                  strArchitect: ''
                  intCapacity: '90000'
                  strCost: £789 million
                  strCountry: England
                  strLocation: Wembley, London
                  strTimezone: UTC +00:00 Greenwich Mean Time (GMT)
                  intFormedYear: '2007'
                  strFanart1: https://r2.thesportsdb.com/images/media/venue/fanart/7tpavy1708696222.jpg
                  strFanart2: https://r2.thesportsdb.com/images/media/venue/fanart/3zirzg1708696411.jpg
                  strFanart3: https://r2.thesportsdb.com/images/media/venue/fanart/c482m41708696417.jpg
                  strFanart4: https://r2.thesportsdb.com/images/media/venue/fanart/ncll4t1708696444.jpg
                  strThumb: https://r2.thesportsdb.com/images/media/venue/thumb/qttuty1420627847.jpg
                  strLogo: https://r2.thesportsdb.com/images/media/venue/logo/zowstr1709984100.png
                  strMap: 51.555556, -0.279444
                  strWebsite: www.wembleystadium.com
                  strFacebook: www.facebook.com/WembleyStadium
                  strInstagram: www.instagram.com/wembleystadium
                  strTwitter: twitter.com/wembleystadium
                  strYoutube: ''
                  strCreativeCommons: 'NO'
                  strLocked: unlocked
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/lookupleague.php:
    get:
      operationId: lookupLeague
      tags:
      - Lookup
      summary: Look up a league
      description: |-
        Records measured 5 Oct 2026: free key **1**, premium key **1**.

        Documented limit: 1 / 1 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      - name: id
        in: query
        required: true
        description: The league id.
        schema:
          type: integer
        example: 4328
      responses:
        '200':
          description: The records under `leagues`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  leagues:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/League'
                      maxItems: 1
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                leagues:
                - idLeague: '4328'
                  idAPIfootball: '8346'
                  idAPIfootballv3: '39'
                  strSport: Soccer
                  strLeague: English Premier League
                  strLeagueAlternate: Premier League, EPL, England
                  intDivision: '0'
                  idCup: '0'
                  strCurrentSeason: 2026-2027
                  intFormedYear: '1992'
                  dateFirstEvent: '1992-08-15'
                  strGender: Male
                  strCountry: England
                  strWebsite: www.premierleague.com
                  strFacebook: xen-gb.facebook.com/premierleague/
                  strInstagram: www.instagram.com/premierleague
                  strTwitter: twitter.com/premierleague
                  strYoutube: www.youtube.com/channel/UCG5qGWdu8nIRZqJ_GgDwQ-w
                  strRSS: https://feeds.bbci.co.uk/sport/football/rss.xml
                  strDescriptionEN: 'The Premier League, often referred to as the English Premier League or the EPL (legal
                    name: The Football Association Premier League Limited), is the top leve…'
                  strDescriptionDE: Die Premier League (offiziell nach dem Sponsoren „Barclays Premier League“, umgangssprachlich
                    „The Premiership“) ist die höchste Spielklasse im englischen Fu…
                  strDescriptionFR: Le Championnat d'Angleterre de football est une compétition sportive située au sommet
                    de la hiérarchie du football en Angleterre. Lancée en 1888 par la The F…
                  strDescriptionIT: "La Premier League è la massima serie del campionato inglese di calcio ed è gestita dalla\
                    \ Football Association (FA).\r\n\r\nSi tratta di un campionato formato da …"
                  strDescriptionCN: "英格兰足球超级联赛（英语：Premier League），简称英超，過往冠名為巴克萊超級聯賽（Barclays Premier League），是英格蘭足球總會轄下的职业足球联赛，是英格蘭聯賽系統的最高等级联赛，英超由超级联盟负责具体运作，而運作模式為一所以20間球會共同擁有的有限公司。\r\
                    \n英格兰超级联赛成立於1…"
                  strDescriptionJP: "プレミアリーグ（英: Premier League）は、イングランドのサッカーリーグにおけるトップディヴィジョン（1部リーグ）。[1]\r\n\r\n世界中で約10億人以上に視聴され、全世界で最も人気が高いリーグであり[2]、世界最高峰レベルのリーグの一つである。サッカー競技のみならず、全世界のスポーツリーグの中で最もテ…"
                  strDescriptionRU: Премье́р-лига (англ. Premier League) — профессиональная футбольная лига для английских
                    футбольных клубов (также в ней могут играть некоторые клубы из Уэльса[…
                  strDescriptionES: La Premier League, también conocida en el Reino Unido como The Premiership, es la máxima
                    categoría del sistema de Ligas de fútbol de Inglaterra. Comenzó a di…
                  strDescriptionPT: Premier League é uma liga profissional de futebol da Inglaterra e está no topo do sistema
                    de ligas do futebol inglês, sendo a principal competição de futebol…
                  strDescriptionSE: "Premier League, 1992–2007 benämnd FA Premier League, är en engelsk fotbollsliga, grundad\
                    \ 1992, som är den högsta divisionen i det engelska ligasystemet.\r\n\r\n2…"
                  strDescriptionNL: "De Premier League is de hoogste Engelse voetbalcompetitie.\r\n\r\nDe competitie bestaat\
                    \ uit twintig clubs die tussen augustus en mei in totaal 380 wedstrijden sp…"
                  strDescriptionHU: A Premier League (más néven Premiership vagy Barclays Premier League) az angol labdarúgó
                    bajnokságok legfelsőbb osztályának elnevezése. Ez a világ legnézette…
                  strDescriptionNO: Premier League er den engelske toppserien i fotball. Premier League er på toppen av ligasystemet
                    i engelsk fotball, og består av 20 lag, som operer med syste…
                  strDescriptionPL: Premier League (nazywana także English Premier League) – zawodowa liga piłkarska znajdująca
                    się na najwyższym szczeblu rozgrywek piłkarskich w Anglii. Gra w …
                  strDescriptionIL: ע"א פרמייר ליג (The FA Premier League) נגד המועצה להסדר ההימורים בספורט[1] הוא פסק דין
                    של בית המשפט העליון שניתן בשנת 2010. עיקר המחלוקת נסובה סביב רצונן של …
                  strTvRights: "Australia - Stan \r\nCanada - FuboTV [2022-2025]\r\nCarribean - Verticast [2022-2025] \r\n\
                    Hong Kong - Now TV [2022-2025]\r\nIndia - Star Sports [2022-2025]\r\nIndonesi…"
                  strFanart1: https://r2.thesportsdb.com/images/media/league/fanart/odberp1725731801.jpg
                  strFanart2: https://r2.thesportsdb.com/images/media/league/fanart/s0ozu31725731959.jpg
                  strFanart3: https://r2.thesportsdb.com/images/media/league/fanart/44vpk61725732073.jpg
                  strFanart4: https://r2.thesportsdb.com/images/media/league/fanart/grmbt01725731922.jpg
                  strBanner: https://r2.thesportsdb.com/images/media/league/banner/xe1es51638921786.jpg
                  strBadge: https://r2.thesportsdb.com/images/media/league/badge/gasy9d1737743125.png
                  strLogo: https://r2.thesportsdb.com/images/media/league/logo/4c377s1535214890.png
                  strPoster: https://r2.thesportsdb.com/images/media/league/poster/67al0l1719007596.jpg
                  strTrophy: https://r2.thesportsdb.com/images/media/league/trophy/9a6kw51689108793.png
                  strNaming: '{strHomeTeam} vs {strAwayTeam}'
                  strComplete: 'yes'
                  strLocked: unlocked
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/lookuptable.php:
    get:
      operationId: lookupTable
      tags:
      - Lookup
      summary: League table (standings)
      description: |-
        Only some leagues have tables, mostly featured soccer leagues. Omit `s` for the current season. There is no v2 equivalent: use this endpoint with a premium key.

        Records measured 5 Oct 2026: free key **5**, premium key **20**.

        Documented limit: 5 / 100 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      - name: l
        in: query
        required: true
        description: The league id.
        schema:
          type: integer
        example: 4328
      - name: s
        in: query
        required: false
        description: A season name, e.g. `2026-2027` (or `2026` for single-year leagues).
        schema:
          type: string
        example: 2026-2027
      responses:
        '200':
          description: The records under `table`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  table:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/Standing'
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                table:
                - idStanding: '9873035'
                  intRank: '1'
                  idTeam: '133613'
                  strTeam: Manchester City
                  strBadge: https://r2.thesportsdb.com/images/media/team/badge/vwpvry1467462651.png/tiny
                  idLeague: '4328'
                  strLeague: English Premier League
                  strSeason: 2026-2027
                  strGroup: Premier League
                  strForm: WWWWW
                  strDescription: Promotion - Champions League (League phase)
                  intPlayed: '5'
                  intWin: '5'
                  intLoss: '0'
                  intDraw: '0'
                  intGoalsFor: '13'
                  intGoalsAgainst: '5'
                  intGoalDifference: '8'
                  intPoints: '15'
                  dateUpdated: '2026-09-24 10:00:07'
                - idStanding: '9873036'
                  intRank: '2'
                  idTeam: '133604'
                  strTeam: Arsenal
                  strBadge: https://r2.thesportsdb.com/images/media/team/badge/uyhbfe1612467038.png/tiny
                  idLeague: '4328'
                  strLeague: English Premier League
                  strSeason: 2026-2027
                  strGroup: Premier League
                  strForm: LWWWW
                  strDescription: Promotion - Champions League (League phase)
                  intPlayed: '5'
                  intWin: '4'
                  intLoss: '1'
                  intDraw: '0'
                  intGoalsFor: '8'
                  intGoalsAgainst: '4'
                  intGoalDifference: '4'
                  intPoints: '12'
                  dateUpdated: '2026-09-24 10:00:07'
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/lookupteam.php:
    get:
      operationId: lookupTeam
      tags:
      - Lookup
      summary: Look up a team
      description: |-
        Records measured 5 Oct 2026: free key **1**, premium key **1**.

        Documented limit: 1 / 1 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      - name: id
        in: query
        required: true
        description: The team id.
        schema:
          type: integer
        example: 133604
      responses:
        '200':
          description: The records under `teams`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  teams:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/Team'
                      maxItems: 1
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                teams:
                - idTeam: '133604'
                  idESPN: '359'
                  idAPIfootball: '42'
                  intLoved: '10'
                  strTeam: Arsenal
                  strTeamAlternate: Arsenal Football Club, AFC, Arsenal FC
                  strTeamShort: ARS
                  intFormedYear: '1892'
                  strSport: Soccer
                  strLeague: English Premier League
                  idLeague: '4328'
                  strLeague2: FA Cup
                  idLeague2: '4482'
                  strLeague3: EFL Cup
                  idLeague3: '4570'
                  strLeague4: UEFA Champions League
                  idLeague4: '4480'
                  strLeague5: Emirates Cup
                  idLeague5: '5648'
                  strLeague6: Club Friendlies
                  idLeague6: '4569'
                  strLeague7: FA Community Shield
                  idLeague7: '4571'
                  strDivision: null
                  idVenue: '15528'
                  strStadium: Emirates Stadium
                  strKeywords: Gunners, Gooners
                  strRSS: ''
                  strLocation: Holloway, London, England
                  strWebsite: www.arsenal.com
                  strFacebook: www.facebook.com/Arsenal
                  strTwitter: twitter.com/arsenal
                  strInstagram: instagram.com/arsenal
                  strDescriptionEN: Arsenal Football Club is a professional football club based in Islington, London, England,
                    that plays in the Premier League, the top flight of English footba…
                  strDescriptionDE: 'Der FC Arsenal (offiziell: Arsenal Football Club) – auch bekannt als (The) Arsenal, (The)
                    Gunners (deutsche Übersetzung: „Schützen“ oder „Kanoniere“) oder im…'
                  strDescriptionFR: "Arsenal Football Club est un club de football anglais fondé le 1er décembre 1886 à Londres.\
                    \ Son siège est situé dans le borough londonien d'Islington.\r\n\r\nArs…"
                  strDescriptionCN: null
                  strDescriptionIT: L'Arsenal Football Club, noto semplicemente come Arsenal, è una società calcistica inglese
                    con sede a Londra, più precisamente nel quartiere di Holloway, nel…
                  strDescriptionJP: "アーセナル・フットボール・クラブ（Arsenal Football Club、イギリス英語発音: [ˈɑːsənl ˈfutˌbɔːl klʌb]）は、イングランドの首都ロンドン北部をホームタウンとする、イングランドプロサッカーリーグ（プレミアリーグ）に加盟するプロサッカークラブ。クラブカラーは赤と白。\r\
                    \n\r\n現…"
                  strDescriptionRU: '«Арсена́л» (официальное полное название — Футбольный клуб «Арсенал», англ. Arsenal Football
                    Club, английское произношение: [ˈɑrsənəl ''futbɔ:l klʌb]) — англий…'
                  strDescriptionES: 'El Arsenal Football Club (pronunciación en inglés: /ˈɑː(ɹ)sənəl ˈfʊtˌbɔl klʌb/) es un
                    club de fútbol profesional con sede en Holloway, Londres, Inglaterra, q…'
                  strDescriptionPT: "Arsenal Football Club é um clube de futebol, fundado e baseado em Londres, capital da\
                    \ Inglaterra.\r\n\r\nO clube disputa a Premier League e é um dos mais bem suc…"
                  strDescriptionSE: null
                  strDescriptionNL: null
                  strDescriptionHU: null
                  strDescriptionNO: Arsenal Football Club er en engelsk fotballklubb som spiller i Premier League. Klubben
                    ble stiftet i 1886, og ble valgt inn i The Football League i 1893. «Th…
                  strDescriptionIL: null
                  strDescriptionPL: null
                  strColour1: '#EF0107'
                  strColour2: '#fbffff'
                  strColour3: '#013373'
                  strGender: Male
                  strCountry: England
                  strBadge: https://r2.thesportsdb.com/images/media/team/badge/uyhbfe1612467038.png
                  strLogo: https://r2.thesportsdb.com/images/media/team/logo/q2mxlz1512644512.png
                  strFanart1: https://r2.thesportsdb.com/images/media/team/fanart/ouqjzl1769332470.jpg
                  strFanart2: https://r2.thesportsdb.com/images/media/team/fanart/db23ct1769332477.jpg
                  strFanart3: https://r2.thesportsdb.com/images/media/team/fanart/k3r9od1769332483.jpg
                  strFanart4: https://r2.thesportsdb.com/images/media/team/fanart/2uvo8p1731313907.jpg
                  strBanner: https://r2.thesportsdb.com/images/media/team/banner/ecl7mi1790192440.jpg
                  strEquipment: https://r2.thesportsdb.com/images/media/team/equipment/fwav4f1752100996.png
                  strYoutube: www.youtube.com/user/ArsenalTour
                  strLocked: unlocked
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/lookupequipment.php:
    get:
      operationId: lookupEquipment
      tags:
      - Lookup
      summary: A team's kits
      description: |-
        Records measured 5 Oct 2026: free key **2**, premium key **18**.

        Documented limit: 2 / 100 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      - name: id
        in: query
        required: true
        description: The team id.
        schema:
          type: integer
        example: 133597
      responses:
        '200':
          description: The records under `equipment`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  equipment:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/Equipment'
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                equipment:
                - idEquipment: '612'
                  idTeam: '133597'
                  date: '2019-08-16 13:22:58'
                  strSeason: 2019-2020
                  strEquipment: https://r2.thesportsdb.com/images/media/team/equipment/2019-133597-Jersey.png
                  strType: 1st
                  strUsername: smudgie
                - idEquipment: '1842'
                  idTeam: '133597'
                  date: '2020-11-03 14:12:47'
                  strSeason: 2020-2021
                  strEquipment: https://r2.thesportsdb.com/images/media/team/equipment/xhnsto1604412760.png
                  strType: 1st
                  strUsername: smudgie
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/lookupplayer.php:
    get:
      operationId: lookupPlayer
      tags:
      - Lookup
      summary: Look up a player
      description: |-
        Records measured 5 Oct 2026: free key **1**, premium key **1**.

        Documented limit: 1 / 1 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      - name: id
        in: query
        required: true
        description: The player id.
        schema:
          type: integer
        example: 34145937
      responses:
        '200':
          description: The records under `players`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  players:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/Player'
                      maxItems: 1
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                players:
                - idPlayer: '34145937'
                  idTeam: '137154'
                  idTeam2: null
                  idTeamNational: null
                  idAPIfootball: '1917'
                  idPlayerManager: '43001238'
                  idWikidata: Q129700
                  idTransferMkt: '45146'
                  idESPN: '100681'
                  idGoogle: null
                  strNationality: Italy
                  strPlayer: Mario Balotelli
                  strPlayerAlternate: Mario Balotelli Barwuah
                  strTeam: _Free Agent Soccer
                  strTeam2: ''
                  strSport: Soccer
                  intSoccerXMLTeamID: '6'
                  dateBorn: '1990-08-12'
                  dateDied: null
                  strNumber: '9'
                  dateSigned: '2014-08-25'
                  strSigning: ''
                  strWage: ''
                  strOutfitter: ''
                  strKit: ''
                  strAgent: ''
                  strBirthLocation: Palermo, Italy
                  strDeathLocation: null
                  strEthnicity: Black
                  strStatus: Free Agent
                  strDescriptionEN: Mario Balotelli Barwuah (né Barwuah; born 12 August 1990) is an Italian professional footballer
                    who plays as a striker for UAE First Division club Al-Ittifaq…
                  strDescriptionDE: null
                  strDescriptionFR: null
                  strDescriptionCN: null
                  strDescriptionIT: null
                  strDescriptionJP: null
                  strDescriptionRU: null
                  strDescriptionES: null
                  strDescriptionPT: null
                  strDescriptionSE: null
                  strDescriptionNL: null
                  strDescriptionHU: null
                  strDescriptionNO: null
                  strDescriptionIL: null
                  strDescriptionPL: null
                  strGender: Male
                  strSide: Right
                  strPosition: Centre-Forward
                  strCollege: null
                  strFacebook: www.facebook.com/MarioOfficialBalotelli
                  strWebsite: ''
                  strTwitter: twitter.com/finallymario
                  strInstagram: instagram.com/mb459
                  strYoutube: ''
                  strHeight: 189 cm
                  strWeight: 192 lbs
                  intLoved: '0'
                  strThumb: https://r2.thesportsdb.com/images/media/player/thumb/k3sczt1714571705.jpg
                  strPoster: null
                  strCutout: https://r2.thesportsdb.com/images/media/player/cutout/alfgb41610666098.png
                  strCartoon: null
                  strRender: https://r2.thesportsdb.com/images/media/player/render/sz8mu61654253818.png
                  strBanner: null
                  strFanart1: https://r2.thesportsdb.com/images/media/player/fanart/wwtsqs1431622222.jpg
                  strFanart2: https://r2.thesportsdb.com/images/media/player/fanart/upxsxy1431622235.jpg
                  strFanart3: https://r2.thesportsdb.com/images/media/player/fanart/vxqsyv1431622253.jpg
                  strFanart4: https://r2.thesportsdb.com/images/media/player/fanart/tvxuyq1431622269.jpg
                  strCreativeCommons: 'Yes'
                  strCreativeCommonsAttribution: By Amirhosseinnakhaeii - Own work, CC0, https://commons.wikimedia.org/w/index.php?curid=190437150
                  strLocked: unlocked
                  strLastName: Balotelli
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/lookuphonours.php:
    get:
      operationId: lookupHonours
      tags:
      - Lookup
      summary: A player's honours
      description: |-
        Records measured 5 Oct 2026: free key **5**, premium key **5**.

        Documented limit: 5 / 500 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      - name: id
        in: query
        required: true
        description: The player id.
        schema:
          type: integer
        example: 34147178
      responses:
        '200':
          description: The records under `honours`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  honours:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/Honour'
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                honours:
                - id: '11211'
                  idPlayer: '34147178'
                  idTeam: '134284'
                  idLeague: '4351'
                  idHonour: '749'
                  strSport: Soccer
                  strPlayer: Edenilson
                  strTeam: Corinthians
                  strTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/vvuvps1473538042.png
                  strHonour: Brazilian Brasileirao
                  strHonourLogo: https://www.thesportsdb.com/images/media/honour/logo/mxhjar1650460067.png
                  strHonourTrophy: https://www.thesportsdb.com/images/media/honour/trophy/xzspl21650460217.png
                  strSeason: '2011'
                - id: '11214'
                  idPlayer: '34147178'
                  idTeam: '134284'
                  idLeague: '5767'
                  idHonour: '835'
                  strSport: Soccer
                  strPlayer: Edenilson
                  strTeam: Corinthians
                  strTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/vvuvps1473538042.png
                  strHonour: Campeonato Paulista
                  strHonourLogo: https://www.thesportsdb.com/images/media/honour/logo/het0sf1651311964.png
                  strHonourTrophy: https://www.thesportsdb.com/images/media/honour/trophy/gum3741651312014.png
                  strSeason: '2013'
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/lookupformerteams.php:
    get:
      operationId: lookupFormerTeams
      tags:
      - Lookup
      summary: A player's former teams
      description: |-
        Records measured 5 Oct 2026: free key **5**, premium key **6**.

        Documented limit: 5 / 100 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      - name: id
        in: query
        required: true
        description: The player id.
        schema:
          type: integer
        example: 34147178
      responses:
        '200':
          description: The records under `formerteams`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  formerteams:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/FormerTeam'
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                formerteams:
                - id: '11819'
                  idPlayer: '34147178'
                  idFormerTeam: '134284'
                  strSport: Soccer
                  strPlayer: Edenilson
                  strFormerTeam: Corinthians
                  strMoveType: Permanent
                  strBadge: https://r2.thesportsdb.com/images/media/team/badge/vvuvps1473538042.png
                  strJoined: '2011'
                  strDeparted: '2014'
                  intAppearances: null
                  intGoals: null
                - id: '11820'
                  idPlayer: '34147178'
                  idFormerTeam: '133675'
                  strSport: Soccer
                  strPlayer: Edenilson
                  strFormerTeam: Genoa
                  strMoveType: Permanent
                  strBadge: https://r2.thesportsdb.com/images/media/team/badge/rqqvwv1448806429.png
                  strJoined: '2014'
                  strDeparted: '2015'
                  intAppearances: null
                  intGoals: null
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/lookupmilestones.php:
    get:
      operationId: lookupMilestones
      tags:
      - Lookup
      summary: A player's milestones
      description: |-
        Records measured 5 Oct 2026: free key **3**, premium key **3**.

        Documented limit: 5 / 100 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      - name: id
        in: query
        required: true
        description: The player id.
        schema:
          type: integer
        example: 34161397
      responses:
        '200':
          description: The records under `milestones`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  milestones:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/Milestone'
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                milestones:
                - id: '455'
                  idPlayer: '34161397'
                  strPlayer: Richarlison
                  idTeam: '133616'
                  idMilestone: '1745'
                  strTeam: Tottenham
                  strSport: Soccer
                  strMilestone: UEFA Champions League Player Of The Match
                  strMilestoneLogo: https://www.thesportsdb.com/images/media/milestone/logo/6230tq1662537994.png
                  dateMilestone: '2022-09-07'
                - id: '1424'
                  idPlayer: '34161397'
                  strPlayer: Richarlison
                  idTeam: '134496'
                  idMilestone: '1843'
                  strTeam: Brazil
                  strSport: Soccer
                  strMilestone: FIFA World Cup Player Of The Match
                  strMilestoneLogo: https://www.thesportsdb.com/images/media/milestone/logo/kzpd281669055640.png
                  dateMilestone: '2022-11-24'
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/lookupcontracts.php:
    get:
      operationId: lookupContracts
      tags:
      - Lookup
      summary: A player's contracts
      description: |-
        Records measured 5 Oct 2026: free key **1**, premium key **1**.

        Documented limit: 1 / 100 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      - name: id
        in: query
        required: true
        description: The player id.
        schema:
          type: integer
        example: 34147178
      responses:
        '200':
          description: The records under `contracts`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  contracts:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/Contract'
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                contracts:
                - id: '112'
                  idPlayer: '34147178'
                  idTeam: '134281'
                  strSport: Soccer
                  strPlayer: Edenilson
                  strTeam: Internacional
                  strBadge: https://r2.thesportsdb.com/images/media/team/badge/yprvxx1473538097.png
                  strYearStart: '2018'
                  strYearEnd: '2021'
                  strWage: ''
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/playerresults.php:
    get:
      operationId: playerResults
      tags:
      - Lookup
      summary: A player's results (individual sports)
      description: |-
        For races, golf, fights and similar.

        Records measured 5 Oct 2026: free key **5**, premium key **24**.

        Documented limit: 5 / 500 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      - name: id
        in: query
        required: true
        description: The player id.
        schema:
          type: integer
        example: 34160573
      responses:
        '200':
          description: The records under `results`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/EventResult'
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                results:
                - idResult: '21890'
                  idPlayer: '34160573'
                  strPlayer: Alexander Sims
                  idTeam: '134826'
                  idEvent: '1392219'
                  strEvent: New York City E Prix Race 2
                  strResult: null
                  intPosition: '4'
                  intPoints: '0'
                  strDetail: + 3.631
                  dateEvent: '2022-07-17'
                  strSeason: 2021-2022
                  strCountry: United Kingdom
                  strSport: Motorsport
                - idResult: '20631'
                  idPlayer: '34160573'
                  strPlayer: Alexander Sims
                  idTeam: '134826'
                  idEvent: '1392216'
                  strEvent: Jakarta E Prix
                  strResult: null
                  intPosition: '15'
                  intPoints: '0'
                  strDetail: '+29.520'
                  dateEvent: '2022-06-04'
                  strSeason: 2021-2022
                  strCountry: United Kingdom
                  strSport: Motorsport
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/lookupplayerstats.php:
    get:
      operationId: lookupPlayerStats
      tags:
      - Lookup
      summary: A player's season statistics
      description: |-
        One record per statistic per season.

        Records measured 5 Oct 2026: free key **10**, premium key **315**.

        Documented limit: 10 / 10000 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      - name: id
        in: query
        required: true
        description: The player id.
        schema:
          type: integer
        example: 34146304
      responses:
        '200':
          description: The records under `playerstats`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  playerstats:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/PlayerStat'
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                playerstats:
                - id: '5321'
                  idPlayer: '34146304'
                  idTeam: '133908'
                  idLeague: '4502'
                  strSport: Soccer
                  strPlayer: Cristiano Ronaldo
                  strTeam: Portugal
                  strTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/swqvpy1455466083.png
                  strLeague: European Championships
                  strLeagueBadge: https://r2.thesportsdb.com/images/media/league/badge/el53xu1551733974.png
                  strStatistic: Appearances
                  strValue: '6'
                  strSeason: '2004'
                - id: '5322'
                  idPlayer: '34146304'
                  idTeam: '133908'
                  idLeague: '4502'
                  strSport: Soccer
                  strPlayer: Cristiano Ronaldo
                  strTeam: Portugal
                  strTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/swqvpy1455466083.png
                  strLeague: European Championships
                  strLeagueBadge: https://r2.thesportsdb.com/images/media/league/badge/el53xu1551733974.png
                  strStatistic: Mins Played
                  strValue: '418'
                  strSeason: '2004'
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/lookupevent.php:
    get:
      operationId: lookupEvent
      tags:
      - Lookup
      summary: Look up an event
      description: |-
        Records measured 5 Oct 2026: free key **1**, premium key **1**.

        Documented limit: 1 / 1 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      - name: id
        in: query
        required: true
        description: The event id.
        schema:
          type: integer
        example: 441613
      responses:
        '200':
          description: The records under `events`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/Event'
                      maxItems: 1
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                events:
                - idEvent: '441613'
                  idAPIfootball: null
                  strTimestamp: '2014-12-29T20:00:00'
                  strEvent: Liverpool vs Swansea
                  strEventAlternate: Swansea @ Liverpool
                  strFilename: English Premier League 2014-12-29 Liverpool vs Swansea
                  strSport: Soccer
                  idLeague: '4328'
                  strLeague: English Premier League
                  strLeagueBadge: https://r2.thesportsdb.com/images/media/league/badge/dsnjpz1679951317.png
                  strSeason: 2014-2015
                  strDescriptionEN: ''
                  strHomeTeam: Liverpool
                  strAwayTeam: Swansea
                  intHomeScore: '4'
                  intHomeScoreExtra: null
                  intAwayScoreExtra: null
                  intRound: '19'
                  intAwayScore: '1'
                  intSpectators: '44621'
                  strOfficial: null
                  strWeather: null
                  dateEvent: '2014-12-29'
                  dateEventLocal: '2014-12-29'
                  strTime: '20:00:00'
                  strTimeLocal: '20:00:00'
                  strGroup: null
                  idHomeTeam: '133602'
                  strHomeTeamBadge: null
                  idAwayTeam: '133614'
                  strAwayTeamBadge: null
                  intScore: null
                  intScoreVotes: null
                  strResult: ''
                  idVenue: '15407'
                  strVenue: Anfield
                  strCountry: England
                  strCity: Liverpool
                  strPoster: null
                  strSquare: null
                  strFanart: null
                  strThumb: null
                  strBanner: null
                  strMap: null
                  strTweet1: ''
                  strVideo: ''
                  strStatus: null
                  strPostponed: 'no'
                  strLocked: unlocked
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/eventresults.php:
    get:
      operationId: eventResults
      tags:
      - Lookup
      summary: An event's results (individual sports)
      description: |-
        Records measured 5 Oct 2026: free key **5**, premium key **22**.

        Documented limit: 5 / 100 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      - name: id
        in: query
        required: true
        description: The event id.
        schema:
          type: integer
        example: 652890
      responses:
        '200':
          description: The records under `results`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/EventResult'
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                results:
                - idResult: '607'
                  idPlayer: '34167526'
                  strPlayer: Justin Barcia
                  idTeam: '135832'
                  idEvent: '652890'
                  strEvent: Anaheim 1
                  strResult: null
                  intPosition: '1'
                  intPoints: '26'
                  strDetail: '1'
                  dateEvent: '2020-01-05'
                  strSeason: '2020'
                  strCountry: United States
                  strSport: Motorsport
                - idResult: '558'
                  idPlayer: '34168462'
                  strPlayer: Adam Cianciarulo
                  idTeam: '135832'
                  idEvent: '652890'
                  strEvent: Anaheim 1
                  strResult: null
                  intPosition: '2'
                  intPoints: '23'
                  strDetail: '1'
                  dateEvent: '2020-01-05'
                  strSeason: '2020'
                  strCountry: United States
                  strSport: Motorsport
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/lookuplineup.php:
    get:
      operationId: lookupLineup
      tags:
      - Lookup
      summary: An event's lineups
      description: |-
        The old name `lookuplineups.php` returns 404.

        Records measured 5 Oct 2026: free key **5**, premium key **22**.

        Documented limit: 5 / 100 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      - name: id
        in: query
        required: true
        description: The event id.
        schema:
          type: integer
        example: 1032723
      responses:
        '200':
          description: The records under `lineup`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  lineup:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/LineupEntry'
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                lineup:
                - idLineup: '541'
                  idEvent: '1032723'
                  strPosition: Goalkeeper
                  strHome: 'Yes'
                  strSubstitute: 'No'
                  intSquadNumber: '26'
                  idPlayer: '34145423'
                  strPlayer: Emiliano Martinez
                  idTeam: '133601'
                  strTeam: Aston Villa
                  strCutout: https://r2.thesportsdb.com/images/media/player/cutout/ffr5xx1756984715.png
                  strThumb: https://r2.thesportsdb.com/images/media/player/thumb/7drp311770201331.jpg
                  strRender: https://r2.thesportsdb.com/images/media/player/render/2zw8zq1693647864.png
                - idLineup: '539'
                  idEvent: '1032723'
                  strPosition: Midfielder
                  strHome: 'Yes'
                  strSubstitute: 'No'
                  intSquadNumber: '10'
                  idPlayer: '34145477'
                  strPlayer: Jack Grealish
                  idTeam: '133601'
                  strTeam: Aston Villa
                  strCutout: https://r2.thesportsdb.com/images/media/player/cutout/ynkw6r1788879052.png
                  strThumb: https://r2.thesportsdb.com/images/media/player/thumb/ah2exe1771944888.jpg
                  strRender: https://r2.thesportsdb.com/images/media/player/render/uqduki1735801383.png
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/lookuptimeline.php:
    get:
      operationId: lookupTimeline
      tags:
      - Lookup
      summary: An event's timeline
      description: |-
        Goals, cards and substitutions.

        Records measured 5 Oct 2026: free key **5**, premium key **10**.

        Documented limit: 5 / 100 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      - name: id
        in: query
        required: true
        description: The event id.
        schema:
          type: integer
        example: 1032718
      responses:
        '200':
          description: The records under `timeline`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timeline:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/TimelineEntry'
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                timeline:
                - idTimeline: '871243'
                  idEvent: '1032718'
                  strTimeline: Card
                  strTimelineDetail: Yellow Card
                  strHome: 'No'
                  strEvent: Sheffield United vs Leeds
                  idAPIfootball: '592167'
                  idPlayer: '34147877'
                  strPlayer: Kalvin Phillips
                  strCutout: null
                  idAssist: null
                  strAssist: ''
                  intTime: '6'
                  strPeriod: null
                  idTeam: '133635'
                  strTeam: Leeds
                  strComment: ''
                  dateEvent: '2020-09-27'
                  strSeason: 2020-2021
                - idTimeline: '871244'
                  idEvent: '1032718'
                  strTimeline: subst
                  strTimelineDetail: Rodrigo
                  strHome: 'No'
                  strEvent: Sheffield United vs Leeds
                  idAPIfootball: '592167'
                  idPlayer: '34161977'
                  strPlayer: Tyler Roberts
                  strCutout: null
                  idAssist: '34149736'
                  strAssist: Rodrigo Moreno Machado
                  intTime: '46'
                  strPeriod: null
                  idTeam: '133635'
                  strTeam: Leeds
                  strComment: ''
                  dateEvent: '2020-09-27'
                  strSeason: 2020-2021
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/lookupeventstats.php:
    get:
      operationId: lookupEventStats
      tags:
      - Lookup
      summary: An event's team statistics
      description: |-
        Records measured 5 Oct 2026: free key **5**, premium key **16**.

        Documented limit: 5 / 100 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      - name: id
        in: query
        required: true
        description: The event id.
        schema:
          type: integer
        example: 1032723
      responses:
        '200':
          description: The records under `eventstats`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  eventstats:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/EventStat'
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                eventstats:
                - idStatistic: '17'
                  idEvent: '1032723'
                  idApiFootball: '592172'
                  strEvent: Aston Villa vs Liverpool
                  strStat: Shots on Goal
                  intHome: '11'
                  intAway: '8'
                - idStatistic: '18'
                  idEvent: '1032723'
                  idApiFootball: '592172'
                  strEvent: Aston Villa vs Liverpool
                  strStat: Shots off Goal
                  intHome: '4'
                  intAway: '1'
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/lookuptv.php:
    get:
      operationId: lookupEventTv
      tags:
      - Lookup
      summary: The channels showing an event
      description: |-
        Records measured 5 Oct 2026: free key **2**, premium key **13**.

        Documented limit: 2 / 100 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      - name: id
        in: query
        required: true
        description: The event id.
        schema:
          type: integer
        example: 2494052
      responses:
        '200':
          description: The records under `tvevent`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  tvevent:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/TvListing'
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                tvevent:
                - id: '1218715'
                  idEvent: '2494052'
                  intDivision: '0'
                  strSport: Soccer
                  strEvent: Arsenal vs Leeds United
                  strEventThumb: https://r2.thesportsdb.com/images/media/event/thumb/mayo9h1784549326.jpg
                  strEventPoster: https://r2.thesportsdb.com/images/media/event/poster/ekc9q71784549630.jpg
                  strEventBanner: https://r2.thesportsdb.com/images/media/event/banner/h61dc61784549908.jpg
                  strEventSquare: https://r2.thesportsdb.com/images/media/event/square/kzqbsy1784550175.jpg
                  idChannel: '582'
                  strCountry: India
                  strEventCountry: England
                  strLogo: https://r2.thesportsdb.com/images/media/channel/logo/7za33k1683192230.png
                  strChannel: Disney+ Hotstar
                  strSeason: 2026-2027
                  strTime: '11:30:00'
                  dateEvent: '2026-10-10'
                  strTimeStamp: '2026-10-10 11:30:00'
                - id: '1222527'
                  idEvent: '2494052'
                  intDivision: '0'
                  strSport: Soccer
                  strEvent: Arsenal vs Leeds United
                  strEventThumb: https://r2.thesportsdb.com/images/media/event/thumb/mayo9h1784549326.jpg
                  strEventPoster: https://r2.thesportsdb.com/images/media/event/poster/ekc9q71784549630.jpg
                  strEventBanner: https://r2.thesportsdb.com/images/media/event/banner/h61dc61784549908.jpg
                  strEventSquare: https://r2.thesportsdb.com/images/media/event/square/kzqbsy1784550175.jpg
                  idChannel: '5405'
                  strCountry: Romania
                  strEventCountry: England
                  strLogo: https://r2.thesportsdb.com/images/media/channel/logo/bjtbc31632236249.png
                  strChannel: VOYO
                  strSeason: 2026-2027
                  strTime: '11:30:00'
                  dateEvent: '2026-10-10'
                  strTimeStamp: '2026-10-10 11:30:00'
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/lookupvenue.php:
    get:
      operationId: lookupVenue
      tags:
      - Lookup
      summary: Look up a venue
      description: |-
        Records measured 5 Oct 2026: free key **1**, premium key **1**.

        Documented limit: 1 / 1 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      - name: id
        in: query
        required: true
        description: The venue id.
        schema:
          type: integer
        example: 16163
      responses:
        '200':
          description: The records under `venues`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  venues:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/Venue'
                      maxItems: 1
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                venues:
                - idVenue: '16163'
                  idDupe: null
                  strVenue: Wembley Stadium
                  intLoved: null
                  strVenueAlternate: Wembley
                  strVenueSponsor: ''
                  strSport: Soccer
                  strDescriptionEN: Wembley Stadium (currently known officially as Wembley Stadium connected by EE for commercial
                    sponsorship reasons) is an association football stadium in Wemb…
                  strArchitect: ''
                  intCapacity: '90000'
                  strCost: £789 million
                  strCountry: England
                  strLocation: Wembley, London
                  strTimezone: UTC +00:00 Greenwich Mean Time (GMT)
                  intFormedYear: '2007'
                  strFanart1: https://r2.thesportsdb.com/images/media/venue/fanart/7tpavy1708696222.jpg
                  strFanart2: https://r2.thesportsdb.com/images/media/venue/fanart/3zirzg1708696411.jpg
                  strFanart3: https://r2.thesportsdb.com/images/media/venue/fanart/c482m41708696417.jpg
                  strFanart4: https://r2.thesportsdb.com/images/media/venue/fanart/ncll4t1708696444.jpg
                  strThumb: https://r2.thesportsdb.com/images/media/venue/thumb/qttuty1420627847.jpg
                  strLogo: https://r2.thesportsdb.com/images/media/venue/logo/zowstr1709984100.png
                  strMap: 51.555556, -0.279444
                  strWebsite: www.wembleystadium.com
                  strFacebook: www.facebook.com/WembleyStadium
                  strInstagram: www.instagram.com/wembleystadium
                  strTwitter: twitter.com/wembleystadium
                  strYoutube: ''
                  strCreativeCommons: 'NO'
                  strLocked: unlocked
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/all_sports.php:
    get:
      operationId: allSports
      tags:
      - Lists
      summary: All sports
      description: |-
        Records measured 5 Oct 2026: free key **2**, premium key **37**.

        Documented limit: 2 / 50 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      responses:
        '200':
          description: The records under `sports`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  sports:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/Sport'
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                sports:
                - idSport: '102'
                  strSport: Soccer
                  strFormat: TeamvsTeam
                  strSportThumb: https://www.thesportsdb.com/images/sports/soccer.jpg
                  strSportThumbBW: https://www.thesportsdb.com/images/sports/bw/soccer.jpg
                  strSportIconGreen: https://www.thesportsdb.com/images/icons/sports/soccer.png
                  strSportDescription: Association football, more commonly known as football or soccer, is a team sport played
                    between two teams of eleven players with a spherical ball. It is play…
                - idSport: '103'
                  strSport: Motorsport
                  strFormat: EventSport
                  strSportThumb: https://www.thesportsdb.com/images/sports/motorsport.jpg
                  strSportThumbBW: https://www.thesportsdb.com/images/sports/bw/motorsport.jpg
                  strSportIconGreen: https://www.thesportsdb.com/images/icons/sports/motorsport.png
                  strSportDescription: Motorsport or motor sport is a global term used to encompass the group of competitive
                    sporting events which primarily involve the use of motorised vehicles, …
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/all_countries.php:
    get:
      operationId: allCountries
      tags:
      - Lists
      summary: All countries
      description: |-
        Name and 32 px flag only; v2 `all/countries` adds codes and more flag sizes.

        Records measured 5 Oct 2026: free key **50**, premium key **256**.

        Documented limit: 50 / 500 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      responses:
        '200':
          description: The records under `countries`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  countries:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/Country'
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                countries:
                - name_en: Andorra
                  flag_url_32: https://www.thesportsdb.com/images/icons/flags/shiny/32/Andorra.png
                - name_en: United Arab Emirates
                  flag_url_32: https://www.thesportsdb.com/images/icons/flags/shiny/32/United-Arab-Emirates.png
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/all_leagues.php:
    get:
      operationId: allLeagues
      tags:
      - Lists
      summary: All leagues
      description: |-
        Id, name and sport. `strLeagueAlternate` is included **only with a premium key**.

        Records measured 5 Oct 2026: free key **5**, premium key **1547**.

        Documented limit: 10 / 3000 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      responses:
        '200':
          description: The records under `leagues`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  leagues:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/League'
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                leagues:
                - idLeague: '4328'
                  strLeague: English Premier League
                  strSport: Soccer
                  strLeagueAlternate: Premier League, EPL, England
                - idLeague: '4329'
                  strLeague: English League Championship
                  strSport: Soccer
                  strLeagueAlternate: England EFL Championship, English Football League Championship
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/search_all_leagues.php:
    get:
      operationId: leaguesInCountry
      tags:
      - Lists
      summary: Leagues in a country
      description: |-
        Full league records. The record key really is `countries`.

        Records measured 5 Oct 2026: free key **5**, premium key **25**.

        Documented limit: 10 / 100 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      - name: c
        in: query
        required: true
        description: Country name, as in `all_countries.php`.
        schema:
          type: string
        example: England
      - name: s
        in: query
        required: false
        description: Sport name.
        schema:
          type: string
        example: Soccer
      responses:
        '200':
          description: The records under `countries`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  countries:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/League'
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
              example:
                countries:
                - idLeague: '4570'
                  idAPIfootball: '8328'
                  idAPIfootballv3: '48'
                  strSport: Soccer
                  strLeague: EFL Cup
                  strLeagueAlternate: Carabao Cup, Football League Cup
                  intDivision: '99'
                  idCup: '1'
                  strCurrentSeason: 2026-2027
                  intFormedYear: '1960'
                  dateFirstEvent: '2006-02-26'
                  strGender: Male
                  strCountry: England
                  strWebsite: www.efl.com/carabao-cup
                  strFacebook: www.facebook.com/TheCarabaoCup/
                  strInstagram: ''
                  strTwitter: twitter.com/carabao_cup
                  strYoutube: ''
                  strRSS: ''
                  strDescriptionEN: The EFL Cup (referred to historically, and colloquially, as simply the League Cup), currently
                    known as the Carabao Cup for sponsorship reasons, is an annual …
                  strDescriptionDE: null
                  strDescriptionFR: null
                  strDescriptionIT: null
                  strDescriptionCN: null
                  strDescriptionJP: null
                  strDescriptionRU: null
                  strDescriptionES: null
                  strDescriptionPT: null
                  strDescriptionSE: null
                  strDescriptionNL: null
                  strDescriptionHU: null
                  strDescriptionNO: null
                  strDescriptionPL: null
                  strDescriptionIL: null
                  strTvRights: US - ESPN [2018-2021]
                  strFanart1: https://r2.thesportsdb.com/images/media/league/fanart/20hqnz1702271389.jpg
                  strFanart2: https://r2.thesportsdb.com/images/media/league/fanart/w7rf3z1708961950.jpg
                  strFanart3: https://r2.thesportsdb.com/images/media/league/fanart/ieww2s1708961927.jpg
                  strFanart4: https://r2.thesportsdb.com/images/media/league/fanart/188reh1702271390.jpg
                  strBanner: https://r2.thesportsdb.com/images/media/league/banner/xfvbps1565451527.jpg
                  strBadge: https://r2.thesportsdb.com/images/media/league/badge/x1va771565372556.png
                  strLogo: https://r2.thesportsdb.com/images/media/league/logo/mgrqhr1565372642.png
                  strPoster: https://r2.thesportsdb.com/images/media/league/poster/6wifr21632278915.jpg
                  strTrophy: https://r2.thesportsdb.com/images/media/league/trophy/e7m3po1709025137.png
                  strNaming: '{strHomeTeam} vs {strAwayTeam}'
                  strComplete: 'yes'
                  strLocked: unlocked
                - idLeague: '4847'
                  idAPIfootball: '8500'
                  idAPIfootballv3: '46'
                  strSport: Soccer
                  strLeague: EFL Trophy
                  strLeagueAlternate: English Football League Trophy
                  intDivision: '99'
                  idCup: '1'
                  strCurrentSeason: 2026-2027
                  intFormedYear: '1983'
                  dateFirstEvent: '2019-03-31'
                  strGender: Male
                  strCountry: England
                  strWebsite: www.efl.com/efl-trophy
                  strFacebook: ''
                  strInstagram: ''
                  strTwitter: ''
                  strYoutube: ''
                  strRSS: ''
                  strDescriptionEN: The EFL Trophy (English Football League Trophy) is an annual English association football
                    knockout competition open to the 48 clubs in EFL League One and EFL…
                  strDescriptionDE: null
                  strDescriptionFR: null
                  strDescriptionIT: null
                  strDescriptionCN: null
                  strDescriptionJP: null
                  strDescriptionRU: null
                  strDescriptionES: null
                  strDescriptionPT: null
                  strDescriptionSE: null
                  strDescriptionNL: null
                  strDescriptionHU: null
                  strDescriptionNO: null
                  strDescriptionPL: null
                  strDescriptionIL: null
                  strTvRights: ''
                  strFanart1: null
                  strFanart2: null
                  strFanart3: null
                  strFanart4: null
                  strBanner: null
                  strBadge: https://r2.thesportsdb.com/images/media/league/badge/txpqvs1757440532.png
                  strLogo: https://r2.thesportsdb.com/images/media/league/logo/e6lt791757441184.png
                  strPoster: null
                  strTrophy: https://r2.thesportsdb.com/images/media/league/trophy/h42b8t1706802574.png
                  strNaming: '{strHomeTeam} vs {strAwayTeam}'
                  strComplete: 'No'
                  strLocked: unlocked
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      security: []
  /api/v1/json/{apiKey}/search_all_seasons.php:
    get:
      operationId: leagueSeasons
      tags:
      - Lists
      summary: A league's seasons
      description: |-
        Season names only unless one of `badge`, `poster` or `description` is set. The parameter is `id`; `l=` returns `{"seasons":"Invalid League ID passed"}`.

        Records measured 5 Oct 2026: free key **5**, premium key **35**.

        Documented limit: 5 / 500 (free / premium).
      parameters:
      - $ref: '#/components/parameters/apiKey'
      - name: id
        in: query
        required: true
        description: The league id.
        schema:
          type: integer
        example: 4328
      - name: badge
        in: query
        required: false
        description: '`1` to add `strBadge`.'
        schema:
          type: integer
        example: 1
      - name: poster
        in: query
        required: false
        description: '`1` to add `strPoster`.'
        schema:
          type: integer
        example: 1
      - name: description
        in: query
        required: false
        description: '`1` to add `strDescriptionEN`.'
        schema:
          type: integer
        example: 1
      responses:
        '200':
          description: The records under `seasons`. An empty body also means no results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  seasons:
                    oneOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/Season'
                    - type: 'null'
                      description: No results.
                    - type: string
                      description: A rejected parameter, e.g. `Invalid League ID passed`.
[...]
