# GENERATED by docs-site/tools/build_openapi.py from the recorded responses. Do not edit.
openapi: 3.1.0
info:
  title: TheSportsDB API
  version: v2 · measured 5 Oct 2026
  description: |
    **v2** is for premium keys. It adds full team schedules, whole seasons in one call, TV listings by country, sport or channel, and documented live scores.

    ```
    GET https://www.thesportsdb.com/api/v2/json/{group}/{name}/{parameter}
    X-API-KEY: your-premium-key
    ```

    - **Keys:** sent in the `X-API-KEY` header. The free keys get HTTP 400.
    - **Responses:** one JSON object whose key is the endpoint's group: `search`, `lookup`, `list`, `filter`, `all`, `schedule` or `livescore`. Values are strings or `null`, except that `search/...` sends ids as numbers.
    - **No results:** `{"Message":"No data found"}`, with HTTP 200.
    - **Limits:** each endpoint's description gives the documented limit and the records measured on 5 Oct 2026. They differ: several endpoints return more than documented.
    - **Times:** `dateEvent`, `strTime` and `strTimestamp` are **UTC**.
    - **Not in v2:** league tables. Use v1's `lookuptable.php` with your premium key.

    The [guides](../index.html) cover these in detail, with [recipes](../recipes.html) for common tasks.
  termsOfService: https://www.thesportsdb.com/docs_terms_of_use.php
servers:
- url: https://www.thesportsdb.com
tags:
- name: Search
  description: Find records by name.
- name: Lookup
  description: Fetch records by id, and the details attached to a team, player or event.
- name: Lists
  description: Lists of leagues, seasons, teams and players.
- name: All
  description: Complete catalogues of countries, sports and leagues.
- name: Schedules
  description: Fixtures and results. Times are UTC.
- name: TV
  description: 'TV listings: which channels show which events.'
- name: Live scores
  description: Games in progress.
paths:
  /api/v2/json/search/league/{name}:
    get:
      operationId: searchLeagues
      tags:
      - Search
      summary: Search leagues
      description: |-
        Records measured 5 Oct 2026: **2**.

        Documented limit: 10.
      parameters:
      - name: name
        in: path
        required: true
        description: League name; spaces as `%20`.
        schema:
          type: string
        example: English Premier League
      responses:
        '200':
          description: The records under `search`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    search:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/League'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                search:
                - idLeague: 4328
                  strLeague: English Premier League
                  strSport: Soccer
                  strBadge: https://r2.thesportsdb.com/images/media/league/badge/gasy9d1737743125.png
                  strCountry: England
                  strCurrentSeason: 2026-2027
                  strGender: Male
                - idLeague: 5647
                  strLeague: English Premier League Summer Series
                  strSport: Soccer
                  strBadge: https://r2.thesportsdb.com/images/media/league/badge/3nh27y1754238774.png
                  strCountry: United States
                  strCurrentSeason: '2026'
                  strGender: Male
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/search/team/{name}:
    get:
      operationId: searchTeams
      tags:
      - Search
      summary: Search teams
      description: |-
        Ids are JSON numbers here, strings everywhere else.

        Records measured 5 Oct 2026: **12**.

        Documented limit: 10.
      parameters:
      - name: name
        in: path
        required: true
        description: Team name; spaces as `%20`.
        schema:
          type: string
        example: Arsenal
      responses:
        '200':
          description: The records under `search`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    search:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/Team'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                search:
                - idTeam: 133604
                  strTeam: Arsenal
                  idLeague: 4328
                  strLeague: English Premier League
                  strBadge: https://r2.thesportsdb.com/images/media/team/badge/uyhbfe1612467038.png
                  strCountry: England
                  strGender: Male
                  strLocation: Holloway, London, England
                  strSport: Soccer
                - idTeam: 134430
                  strTeam: Arsenal Kyiv
                  idLeague: 4834
                  strLeague: _No League Soccer
                  strBadge: https://r2.thesportsdb.com/images/media/team/badge/dtz3971593009348.png
                  strCountry: Ukraine
                  strGender: Male
                  strLocation: Kyiv, Ukraine
                  strSport: Soccer
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/search/player/{name}:
    get:
      operationId: searchPlayers
      tags:
      - Search
      summary: Search players
      description: |-
        Records measured 5 Oct 2026: **1**.

        Documented limit: 10.
      parameters:
      - name: name
        in: path
        required: true
        description: Player name; spaces as `%20`.
        schema:
          type: string
        example: Danny Welbeck
      responses:
        '200':
          description: The records under `search`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    search:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/Player'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                search:
                - idPlayer: 34145395
                  strPlayer: Danny Welbeck
                  idTeam: 133610
                  strTeam: Chelsea
                  dateBorn: '1990-11-26'
                  strThumb: https://r2.thesportsdb.com/images/media/player/thumb/f5sgpu1772017716.jpg
                  strSport: Soccer
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/search/event/{name}:
    get:
      operationId: searchEvents
      tags:
      - Search
      summary: Search events
      description: |-
        Needs the exact stored event name; `Arsenal vs Chelsea` returns `No data found` (v1 `searchevents.php` is looser).

        Records measured 5 Oct 2026: **—**.

        Documented limit: 10.
      parameters:
      - name: name
        in: path
        required: true
        description: Event name; spaces as `%20`.
        schema:
          type: string
        example: Arsenal vs Chelsea
      responses:
        '200':
          description: The records under `search`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    search:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/Event'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/search/venue/{name}:
    get:
      operationId: searchVenues
      tags:
      - Search
      summary: Search venues
      description: |-
        Records measured 5 Oct 2026: **3**.

        Documented limit: 10.
      parameters:
      - name: name
        in: path
        required: true
        description: Venue name; spaces as `%20`.
        schema:
          type: string
        example: Wembley
      responses:
        '200':
          description: The records under `search`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    search:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/Venue'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                search:
                - idVenue: 16163
                  strVenue: Wembley Stadium
                  strLocation: Wembley, London
                  strCountry: England
                  strThumb: https://r2.thesportsdb.com/images/media/venue/thumb/qttuty1420627847.jpg
                  strSport: Soccer
                - idVenue: 19835
                  strVenue: OVO Arena
                  strLocation: London, United Kingdom
                  strCountry: United Kingdom
                  strThumb: https://r2.thesportsdb.com/images/media/venue/thumb/0cn2ky1719762176.jpg
                  strSport: Multi Sports
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/lookup/league/{id}:
    get:
      operationId: lookupLeague
      tags:
      - Lookup
      summary: Look up a league
      description: |-
        Records measured 5 Oct 2026: **1**.

        Documented limit: 1.
      parameters:
      - name: id
        in: path
        required: true
        description: The league id.
        schema:
          type: integer
        example: 4328
      responses:
        '200':
          description: The records under `lookup`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    lookup:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/League'
                        maxItems: 1
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                lookup:
                - idLeague: '4328'
                  idAPIfootball: '8346'
                  idAPIfootballv3: '39'
                  strSport: Soccer
                  strLeague: English Premier League
                  strLeagueAlternate: Premier League, EPL, England
                  intDivision: '0'
                  idCup: '0'
                  strCurrentSeason: 2026-2027
                  intFormedYear: '1992'
                  dateFirstEvent: '1992-08-15'
                  strGender: Male
                  strCountry: England
                  strWebsite: www.premierleague.com
                  strFacebook: xen-gb.facebook.com/premierleague/
                  strInstagram: www.instagram.com/premierleague
                  strTwitter: twitter.com/premierleague
                  strYoutube: www.youtube.com/channel/UCG5qGWdu8nIRZqJ_GgDwQ-w
                  strRSS: https://feeds.bbci.co.uk/sport/football/rss.xml
                  strDescriptionEN: 'The Premier League, often referred to as the English Premier League or the EPL (legal
                    name: The Football Association Premier League Limited), is the top leve…'
                  strDescriptionDE: Die Premier League (offiziell nach dem Sponsoren „Barclays Premier League“, umgangssprachlich
                    „The Premiership“) ist die höchste Spielklasse im englischen Fu…
                  strDescriptionFR: Le Championnat d'Angleterre de football est une compétition sportive située au sommet
                    de la hiérarchie du football en Angleterre. Lancée en 1888 par la The F…
                  strDescriptionIT: "La Premier League è la massima serie del campionato inglese di calcio ed è gestita dalla\
                    \ Football Association (FA).\r\n\r\nSi tratta di un campionato formato da …"
                  strDescriptionCN: "英格兰足球超级联赛（英语：Premier League），简称英超，過往冠名為巴克萊超級聯賽（Barclays Premier League），是英格蘭足球總會轄下的职业足球联赛，是英格蘭聯賽系統的最高等级联赛，英超由超级联盟负责具体运作，而運作模式為一所以20間球會共同擁有的有限公司。\r\
                    \n英格兰超级联赛成立於1…"
                  strDescriptionJP: "プレミアリーグ（英: Premier League）は、イングランドのサッカーリーグにおけるトップディヴィジョン（1部リーグ）。[1]\r\n\r\n世界中で約10億人以上に視聴され、全世界で最も人気が高いリーグであり[2]、世界最高峰レベルのリーグの一つである。サッカー競技のみならず、全世界のスポーツリーグの中で最もテ…"
                  strDescriptionRU: Премье́р-лига (англ. Premier League) — профессиональная футбольная лига для английских
                    футбольных клубов (также в ней могут играть некоторые клубы из Уэльса[…
                  strDescriptionES: La Premier League, también conocida en el Reino Unido como The Premiership, es la máxima
                    categoría del sistema de Ligas de fútbol de Inglaterra. Comenzó a di…
                  strDescriptionPT: Premier League é uma liga profissional de futebol da Inglaterra e está no topo do sistema
                    de ligas do futebol inglês, sendo a principal competição de futebol…
                  strDescriptionSE: "Premier League, 1992–2007 benämnd FA Premier League, är en engelsk fotbollsliga, grundad\
                    \ 1992, som är den högsta divisionen i det engelska ligasystemet.\r\n\r\n2…"
                  strDescriptionNL: "De Premier League is de hoogste Engelse voetbalcompetitie.\r\n\r\nDe competitie bestaat\
                    \ uit twintig clubs die tussen augustus en mei in totaal 380 wedstrijden sp…"
                  strDescriptionHU: A Premier League (más néven Premiership vagy Barclays Premier League) az angol labdarúgó
                    bajnokságok legfelsőbb osztályának elnevezése. Ez a világ legnézette…
                  strDescriptionNO: Premier League er den engelske toppserien i fotball. Premier League er på toppen av ligasystemet
                    i engelsk fotball, og består av 20 lag, som operer med syste…
                  strDescriptionPL: Premier League (nazywana także English Premier League) – zawodowa liga piłkarska znajdująca
                    się na najwyższym szczeblu rozgrywek piłkarskich w Anglii. Gra w …
                  strDescriptionIL: ע"א פרמייר ליג (The FA Premier League) נגד המועצה להסדר ההימורים בספורט[1] הוא פסק דין
                    של בית המשפט העליון שניתן בשנת 2010. עיקר המחלוקת נסובה סביב רצונן של …
                  strTvRights: "Australia - Stan \r\nCanada - FuboTV [2022-2025]\r\nCarribean - Verticast [2022-2025] \r\n\
                    Hong Kong - Now TV [2022-2025]\r\nIndia - Star Sports [2022-2025]\r\nIndonesi…"
                  strFanart1: https://r2.thesportsdb.com/images/media/league/fanart/odberp1725731801.jpg
                  strFanart2: https://r2.thesportsdb.com/images/media/league/fanart/s0ozu31725731959.jpg
                  strFanart3: https://r2.thesportsdb.com/images/media/league/fanart/44vpk61725732073.jpg
                  strFanart4: https://r2.thesportsdb.com/images/media/league/fanart/grmbt01725731922.jpg
                  strBanner: https://r2.thesportsdb.com/images/media/league/banner/xe1es51638921786.jpg
                  strBadge: https://r2.thesportsdb.com/images/media/league/badge/gasy9d1737743125.png
                  strLogo: https://r2.thesportsdb.com/images/media/league/logo/4c377s1535214890.png
                  strPoster: https://r2.thesportsdb.com/images/media/league/poster/67al0l1719007596.jpg
                  strTrophy: https://r2.thesportsdb.com/images/media/league/trophy/9a6kw51689108793.png
                  strNaming: '{strHomeTeam} vs {strAwayTeam}'
                  strComplete: 'yes'
                  strLocked: unlocked
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/lookup/team/{id}:
    get:
      operationId: lookupTeam
      tags:
      - Lookup
      summary: Look up a team
      description: |-
        Records measured 5 Oct 2026: **1**.

        Documented limit: 1.
      parameters:
      - name: id
        in: path
        required: true
        description: The team id.
        schema:
          type: integer
        example: 133604
      responses:
        '200':
          description: The records under `lookup`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    lookup:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/Team'
                        maxItems: 1
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                lookup:
                - idTeam: '133604'
                  idESPN: '359'
                  idAPIfootball: '42'
                  intLoved: '10'
                  strTeam: Arsenal
                  strTeamAlternate: Arsenal Football Club, AFC, Arsenal FC
                  strTeamShort: ARS
                  intFormedYear: '1892'
                  strSport: Soccer
                  strLeague: English Premier League
                  idLeague: '4328'
                  strLeague2: FA Cup
                  idLeague2: '4482'
                  strLeague3: EFL Cup
                  idLeague3: '4570'
                  strLeague4: UEFA Champions League
                  idLeague4: '4480'
                  strLeague5: Emirates Cup
                  idLeague5: '5648'
                  strLeague6: Club Friendlies
                  idLeague6: '4569'
                  strLeague7: FA Community Shield
                  idLeague7: '4571'
                  strDivision: null
                  idVenue: '15528'
                  strStadium: Emirates Stadium
                  strKeywords: Gunners, Gooners
                  strRSS: ''
                  strLocation: Holloway, London, England
                  strWebsite: www.arsenal.com
                  strFacebook: www.facebook.com/Arsenal
                  strTwitter: twitter.com/arsenal
                  strInstagram: instagram.com/arsenal
                  strDescriptionEN: Arsenal Football Club is a professional football club based in Islington, London, England,
                    that plays in the Premier League, the top flight of English footba…
                  strDescriptionDE: 'Der FC Arsenal (offiziell: Arsenal Football Club) – auch bekannt als (The) Arsenal, (The)
                    Gunners (deutsche Übersetzung: „Schützen“ oder „Kanoniere“) oder im…'
                  strDescriptionFR: "Arsenal Football Club est un club de football anglais fondé le 1er décembre 1886 à Londres.\
                    \ Son siège est situé dans le borough londonien d'Islington.\r\n\r\nArs…"
                  strDescriptionCN: null
                  strDescriptionIT: L'Arsenal Football Club, noto semplicemente come Arsenal, è una società calcistica inglese
                    con sede a Londra, più precisamente nel quartiere di Holloway, nel…
                  strDescriptionJP: "アーセナル・フットボール・クラブ（Arsenal Football Club、イギリス英語発音: [ˈɑːsənl ˈfutˌbɔːl klʌb]）は、イングランドの首都ロンドン北部をホームタウンとする、イングランドプロサッカーリーグ（プレミアリーグ）に加盟するプロサッカークラブ。クラブカラーは赤と白。\r\
                    \n\r\n現…"
                  strDescriptionRU: '«Арсена́л» (официальное полное название — Футбольный клуб «Арсенал», англ. Arsenal Football
                    Club, английское произношение: [ˈɑrsənəl ''futbɔ:l klʌb]) — англий…'
                  strDescriptionES: 'El Arsenal Football Club (pronunciación en inglés: /ˈɑː(ɹ)sənəl ˈfʊtˌbɔl klʌb/) es un
                    club de fútbol profesional con sede en Holloway, Londres, Inglaterra, q…'
                  strDescriptionPT: "Arsenal Football Club é um clube de futebol, fundado e baseado em Londres, capital da\
                    \ Inglaterra.\r\n\r\nO clube disputa a Premier League e é um dos mais bem suc…"
                  strDescriptionSE: null
                  strDescriptionNL: null
                  strDescriptionHU: null
                  strDescriptionNO: Arsenal Football Club er en engelsk fotballklubb som spiller i Premier League. Klubben
                    ble stiftet i 1886, og ble valgt inn i The Football League i 1893. «Th…
                  strDescriptionIL: null
                  strDescriptionPL: null
                  strColour1: '#EF0107'
                  strColour2: '#fbffff'
                  strColour3: '#013373'
                  strGender: Male
                  strCountry: England
                  strBadge: https://r2.thesportsdb.com/images/media/team/badge/uyhbfe1612467038.png
                  strLogo: https://r2.thesportsdb.com/images/media/team/logo/q2mxlz1512644512.png
                  strFanart1: https://r2.thesportsdb.com/images/media/team/fanart/ouqjzl1769332470.jpg
                  strFanart2: https://r2.thesportsdb.com/images/media/team/fanart/db23ct1769332477.jpg
                  strFanart3: https://r2.thesportsdb.com/images/media/team/fanart/k3r9od1769332483.jpg
                  strFanart4: https://r2.thesportsdb.com/images/media/team/fanart/2uvo8p1731313907.jpg
                  strBanner: https://r2.thesportsdb.com/images/media/team/banner/ecl7mi1790192440.jpg
                  strEquipment: https://r2.thesportsdb.com/images/media/team/equipment/fwav4f1752100996.png
                  strYoutube: www.youtube.com/user/ArsenalTour
                  strLocked: unlocked
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/lookup/team_equipment/{id}:
    get:
      operationId: lookupTeamEquipment
      tags:
      - Lookup
      summary: A team's kits
      description: |-
        Records measured 5 Oct 2026: **18**.

        Documented limit: 1.
      parameters:
      - name: id
        in: path
        required: true
        description: The team id.
        schema:
          type: integer
        example: 133597
      responses:
        '200':
          description: The records under `lookup`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    lookup:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/Equipment'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                lookup:
                - idEquipment: '612'
                  idTeam: '133597'
                  date: '2019-08-16 13:22:58'
                  strSeason: 2019-2020
                  strEquipment: https://r2.thesportsdb.com/images/media/team/equipment/2019-133597-Jersey.png
                  strType: 1st
                  strUsername: smudgie
                - idEquipment: '1842'
                  idTeam: '133597'
                  date: '2020-11-03 14:12:47'
                  strSeason: 2020-2021
                  strEquipment: https://r2.thesportsdb.com/images/media/team/equipment/xhnsto1604412760.png
                  strType: 1st
                  strUsername: smudgie
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/lookup/player/{id}:
    get:
      operationId: lookupPlayer
      tags:
      - Lookup
      summary: Look up a player
      description: |-
        Records measured 5 Oct 2026: **1**.

        Documented limit: 1.
      parameters:
      - name: id
        in: path
        required: true
        description: The player id.
        schema:
          type: integer
        example: 34145937
      responses:
        '200':
          description: The records under `lookup`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    lookup:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/Player'
                        maxItems: 1
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                lookup:
                - idPlayer: '34145937'
                  idTeam: '137154'
                  idTeam2: null
                  idTeamNational: null
                  idAPIfootball: '1917'
                  idPlayerManager: '43001238'
                  idWikidata: Q129700
                  idTransferMkt: '45146'
                  idESPN: '100681'
                  idGoogle: null
                  strNationality: Italy
                  strPlayer: Mario Balotelli
                  strPlayerAlternate: Mario Balotelli Barwuah
                  strTeam: _Free Agent Soccer
                  strTeam2: ''
                  strSport: Soccer
                  intSoccerXMLTeamID: '6'
                  dateBorn: '1990-08-12'
                  dateDied: null
                  strNumber: '9'
                  dateSigned: '2014-08-25'
                  strSigning: ''
                  strWage: ''
                  strOutfitter: ''
                  strKit: ''
                  strAgent: ''
                  strBirthLocation: Palermo, Italy
                  strDeathLocation: null
                  strEthnicity: Black
                  strStatus: Free Agent
                  strDescriptionEN: Mario Balotelli Barwuah (né Barwuah; born 12 August 1990) is an Italian professional footballer
                    who plays as a striker for UAE First Division club Al-Ittifaq…
                  strDescriptionDE: null
                  strDescriptionFR: null
                  strDescriptionCN: null
                  strDescriptionIT: null
                  strDescriptionJP: null
                  strDescriptionRU: null
                  strDescriptionES: null
                  strDescriptionPT: null
                  strDescriptionSE: null
                  strDescriptionNL: null
                  strDescriptionHU: null
                  strDescriptionNO: null
                  strDescriptionIL: null
                  strDescriptionPL: null
                  strGender: Male
                  strSide: Right
                  strPosition: Centre-Forward
                  strCollege: null
                  strFacebook: www.facebook.com/MarioOfficialBalotelli
                  strWebsite: ''
                  strTwitter: twitter.com/finallymario
                  strInstagram: instagram.com/mb459
                  strYoutube: ''
                  strHeight: 189 cm
                  strWeight: 192 lbs
                  intLoved: '0'
                  strThumb: https://r2.thesportsdb.com/images/media/player/thumb/k3sczt1714571705.jpg
                  strPoster: null
                  strCutout: https://r2.thesportsdb.com/images/media/player/cutout/alfgb41610666098.png
                  strCartoon: null
                  strRender: https://r2.thesportsdb.com/images/media/player/render/sz8mu61654253818.png
                  strBanner: null
                  strFanart1: https://r2.thesportsdb.com/images/media/player/fanart/wwtsqs1431622222.jpg
                  strFanart2: https://r2.thesportsdb.com/images/media/player/fanart/upxsxy1431622235.jpg
                  strFanart3: https://r2.thesportsdb.com/images/media/player/fanart/vxqsyv1431622253.jpg
                  strFanart4: https://r2.thesportsdb.com/images/media/player/fanart/tvxuyq1431622269.jpg
                  strCreativeCommons: 'Yes'
                  strCreativeCommonsAttribution: By Amirhosseinnakhaeii - Own work, CC0, https://commons.wikimedia.org/w/index.php?curid=190437150
                  strLocked: unlocked
                  strLastName: Balotelli
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/lookup/player_contracts/{id}:
    get:
      operationId: lookupPlayerContracts
      tags:
      - Lookup
      summary: A player's contracts
      description: |-
        Records measured 5 Oct 2026: **1**.

        Documented limit: 1.
      parameters:
      - name: id
        in: path
        required: true
        description: The player id.
        schema:
          type: integer
        example: 34147178
      responses:
        '200':
          description: The records under `lookup`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    lookup:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/Contract'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                lookup:
                - id: '112'
                  idPlayer: '34147178'
                  idTeam: '134281'
                  strSport: Soccer
                  strPlayer: Edenilson
                  strTeam: Internacional
                  strBadge: https://r2.thesportsdb.com/images/media/team/badge/yprvxx1473538097.png
                  strYearStart: '2018'
                  strYearEnd: '2021'
                  strWage: ''
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/lookup/player_results/{id}:
    get:
      operationId: lookupPlayerResults
      tags:
      - Lookup
      summary: A player's results (individual sports)
      description: |-
        Records measured 5 Oct 2026: **24**.

        Documented limit: 1.
      parameters:
      - name: id
        in: path
        required: true
        description: The player id.
        schema:
          type: integer
        example: 34160573
      responses:
        '200':
          description: The records under `lookup`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    lookup:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/EventResult'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                lookup:
                - idResult: '129'
                  idPlayer: '34160573'
                  strPlayer: Alexander Sims
                  idTeam: '134821'
                  idEvent: '671290'
                  strEvent: Diriyah E-Prix Race 2
                  strResult: null
                  intPosition: '1'
                  intPoints: '28'
                  strDetail: '46:48.327'
                  dateEvent: '2019-11-23'
                  strSeason: '1920'
                  strCountry: UK
                  strSport: Motorsport
                - idResult: '142'
                  idPlayer: '34160573'
                  strPlayer: Alexander Sims
                  idTeam: '134821'
                  idEvent: '671289'
                  strEvent: Diriyah E-Prix Race 1
                  strResult: null
                  intPosition: '8'
                  intPoints: '7'
                  strDetail: + 5.715
                  dateEvent: '2019-11-22'
                  strSeason: '1920'
                  strCountry: England
                  strSport: Motorsport
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/lookup/player_honours/{id}:
    get:
      operationId: lookupPlayerHonours
      tags:
      - Lookup
      summary: A player's honours
      description: |-
        Records measured 5 Oct 2026: **5**.

        Documented limit: 1.
      parameters:
      - name: id
        in: path
        required: true
        description: The player id.
        schema:
          type: integer
        example: 34147178
      responses:
        '200':
          description: The records under `lookup`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    lookup:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/Honour'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                lookup:
                - id: '11211'
                  idPlayer: '34147178'
                  idTeam: '134284'
                  idLeague: '4351'
                  idHonour: '749'
                  strSport: Soccer
                  strPlayer: Edenilson
                  strTeam: Corinthians
                  strTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/vvuvps1473538042.png
                  strHonour: Brazilian Brasileirao
                  strHonourLogo: https://www.thesportsdb.com/images/media/honour/logo/mxhjar1650460067.png
                  strHonourTrophy: https://www.thesportsdb.com/images/media/honour/trophy/xzspl21650460217.png
                  strSeason: '2011'
                - id: '11214'
                  idPlayer: '34147178'
                  idTeam: '134284'
                  idLeague: '5767'
                  idHonour: '835'
                  strSport: Soccer
                  strPlayer: Edenilson
                  strTeam: Corinthians
                  strTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/vvuvps1473538042.png
                  strHonour: Campeonato Paulista
                  strHonourLogo: https://www.thesportsdb.com/images/media/honour/logo/het0sf1651311964.png
                  strHonourTrophy: https://www.thesportsdb.com/images/media/honour/trophy/gum3741651312014.png
                  strSeason: '2013'
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/lookup/player_milestones/{id}:
    get:
      operationId: lookupPlayerMilestones
      tags:
      - Lookup
      summary: A player's milestones
      description: |-
        Records measured 5 Oct 2026: **3**.

        Documented limit: 1.
      parameters:
      - name: id
        in: path
        required: true
        description: The player id.
        schema:
          type: integer
        example: 34161397
      responses:
        '200':
          description: The records under `lookup`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    lookup:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/Milestone'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                lookup:
                - id: '455'
                  idPlayer: '34161397'
                  strPlayer: Richarlison
                  idTeam: '133616'
                  idMilestone: '1745'
                  strTeam: Tottenham
                  strSport: Soccer
                  strMilestone: UEFA Champions League Player Of The Match
                  strMilestoneLogo: https://www.thesportsdb.com/images/media/milestone/logo/6230tq1662537994.png
                  dateMilestone: '2022-09-07'
                - id: '1424'
                  idPlayer: '34161397'
                  strPlayer: Richarlison
                  idTeam: '134496'
                  idMilestone: '1843'
                  strTeam: Brazil
                  strSport: Soccer
                  strMilestone: FIFA World Cup Player Of The Match
                  strMilestoneLogo: https://www.thesportsdb.com/images/media/milestone/logo/kzpd281669055640.png
                  dateMilestone: '2022-11-24'
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/lookup/player_teams/{id}:
    get:
      operationId: lookupPlayerTeams
      tags:
      - Lookup
      summary: A player's former teams
      description: |-
        Records measured 5 Oct 2026: **6**.

        Documented limit: 1.
      parameters:
      - name: id
        in: path
        required: true
        description: The player id.
        schema:
          type: integer
        example: 34147178
      responses:
        '200':
          description: The records under `lookup`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    lookup:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/FormerTeam'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                lookup:
                - id: '11819'
                  idPlayer: '34147178'
                  idFormerTeam: '134284'
                  strSport: Soccer
                  strPlayer: Edenilson
                  strFormerTeam: Corinthians
                  strMoveType: Permanent
                  strBadge: https://r2.thesportsdb.com/images/media/team/badge/vvuvps1473538042.png
                  strJoined: '2011'
                  strDeparted: '2014'
                  intAppearances: null
                  intGoals: null
                - id: '11820'
                  idPlayer: '34147178'
                  idFormerTeam: '133675'
                  strSport: Soccer
                  strPlayer: Edenilson
                  strFormerTeam: Genoa
                  strMoveType: Permanent
                  strBadge: https://r2.thesportsdb.com/images/media/team/badge/rqqvwv1448806429.png
                  strJoined: '2014'
                  strDeparted: '2015'
                  intAppearances: null
                  intGoals: null
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/lookup/player_stats/{id}:
    get:
      operationId: lookupPlayerStats
      tags:
      - Lookup
      summary: A player's season statistics
      description: |-
        Records measured 5 Oct 2026: **315**.

        Documented limit: 1.
      parameters:
      - name: id
        in: path
        required: true
        description: The player id.
        schema:
          type: integer
        example: 34146304
      responses:
        '200':
          description: The records under `lookup`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    lookup:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/PlayerStat'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                lookup:
                - id: '5321'
                  idPlayer: '34146304'
                  idTeam: '133908'
                  idLeague: '4502'
                  strSport: Soccer
                  strPlayer: Cristiano Ronaldo
                  strTeam: Portugal
                  strTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/swqvpy1455466083.png
                  strLeague: European Championships
                  strLeagueBadge: https://r2.thesportsdb.com/images/media/league/badge/el53xu1551733974.png
                  strStatistic: Appearances
                  strValue: '6'
                  strSeason: '2004'
                - id: '5322'
                  idPlayer: '34146304'
                  idTeam: '133908'
                  idLeague: '4502'
                  strSport: Soccer
                  strPlayer: Cristiano Ronaldo
                  strTeam: Portugal
                  strTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/swqvpy1455466083.png
                  strLeague: European Championships
                  strLeagueBadge: https://r2.thesportsdb.com/images/media/league/badge/el53xu1551733974.png
                  strStatistic: Mins Played
                  strValue: '418'
                  strSeason: '2004'
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/lookup/event/{id}:
    get:
      operationId: lookupEvent
      tags:
      - Lookup
      summary: Look up an event
      description: |-
        Records measured 5 Oct 2026: **1**.

        Documented limit: 1.
      parameters:
      - name: id
        in: path
        required: true
        description: The event id.
        schema:
          type: integer
        example: 441613
      responses:
        '200':
          description: The records under `lookup`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    lookup:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/Event'
                        maxItems: 1
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                lookup:
                - idEvent: '441613'
                  idAPIfootball: null
                  strTimestamp: '2014-12-29T20:00:00'
                  strEvent: Liverpool vs Swansea
                  strEventAlternate: Swansea @ Liverpool
                  strFilename: English Premier League 2014-12-29 Liverpool vs Swansea
                  strSport: Soccer
                  idLeague: '4328'
                  strLeague: English Premier League
                  strLeagueBadge: https://r2.thesportsdb.com/images/media/league/badge/dsnjpz1679951317.png
                  strSeason: 2014-2015
                  strDescriptionEN: ''
                  strHomeTeam: Liverpool
                  strAwayTeam: Swansea
                  intHomeScore: '4'
                  intHomeScoreExtra: null
                  intAwayScoreExtra: null
                  intRound: '19'
                  intAwayScore: '1'
                  intSpectators: '44621'
                  strOfficial: null
                  strWeather: null
                  dateEvent: '2014-12-29'
                  dateEventLocal: '2014-12-29'
                  strTime: '20:00:00'
                  strTimeLocal: '20:00:00'
                  strGroup: null
                  idHomeTeam: '133602'
                  strHomeTeamBadge: null
                  idAwayTeam: '133614'
                  strAwayTeamBadge: null
                  intScore: null
                  intScoreVotes: null
                  strResult: ''
                  idVenue: '15407'
                  strVenue: Anfield
                  strCountry: England
                  strCity: Liverpool
                  strPoster: null
                  strSquare: null
                  strFanart: null
                  strThumb: null
                  strBanner: null
                  strMap: null
                  strTweet1: ''
                  strVideo: ''
                  strStatus: null
                  strPostponed: 'no'
                  strLocked: unlocked
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/lookup/event_lineup/{id}:
    get:
      operationId: lookupEventLineup
      tags:
      - Lookup
      summary: An event's lineups
      description: |-
        Adds `strFormation` and `strPositionShort` (often null) to v1's fields.

        Records measured 5 Oct 2026: **22**.

        Documented limit: 1.
      parameters:
      - name: id
        in: path
        required: true
        description: The event id.
        schema:
          type: integer
        example: 1032723
      responses:
        '200':
          description: The records under `lookup`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    lookup:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/LineupEntry'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                lookup:
                - idLineup: '541'
                  idEvent: '1032723'
                  strEvent: Aston Villa vs Liverpool
                  idAPIfootball: '592172'
                  strPosition: Goalkeeper
                  strPositionShort: null
                  strFormation: null
                  strHome: 'Yes'
                  strSubstitute: 'No'
                  intSquadNumber: '26'
                  strCutout: null
                  idPlayer: '34145423'
                  strPlayer: Emiliano Martinez
                  idTeam: '133601'
                  strTeam: Aston Villa
                  strCountry: Argentina
                  strSeason: 2020-2021
                - idLineup: '539'
                  idEvent: '1032723'
                  strEvent: Aston Villa vs Liverpool
                  idAPIfootball: '592172'
                  strPosition: Midfielder
                  strPositionShort: null
                  strFormation: null
                  strHome: 'Yes'
                  strSubstitute: 'No'
                  intSquadNumber: '10'
                  strCutout: null
                  idPlayer: '34145477'
                  strPlayer: Jack Grealish
                  idTeam: '133601'
                  strTeam: Aston Villa
                  strCountry: England
                  strSeason: 2020-2021
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/lookup/event_results/{id}:
    get:
      operationId: lookupEventResults
      tags:
      - Lookup
      summary: An event's results (individual sports)
      description: |-
        Records measured 5 Oct 2026: **22**.

        Documented limit: 1.
      parameters:
      - name: id
        in: path
        required: true
        description: The event id.
        schema:
          type: integer
        example: 652890
      responses:
        '200':
          description: The records under `lookup`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    lookup:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/EventResult'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                lookup:
                - idResult: '558'
                  idPlayer: '34168462'
                  strPlayer: Adam Cianciarulo
                  idTeam: '135832'
                  idEvent: '652890'
                  strEvent: Anaheim 1
                  strResult: null
                  intPosition: '2'
                  intPoints: '23'
                  strDetail: '1'
                  dateEvent: '2020-01-05'
                  strSeason: '2020'
                  strCountry: United States
                  strSport: Motorsport
                - idResult: '573'
                  idPlayer: '34167418'
                  strPlayer: Cooper Webb
                  idTeam: '135832'
                  idEvent: '652890'
                  strEvent: Anaheim 1
                  strResult: null
                  intPosition: '3'
                  intPoints: '21'
                  strDetail: '1'
                  dateEvent: '2020-01-05'
                  strSeason: '2020'
                  strCountry: United States
                  strSport: Motorsport
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/lookup/event_stats/{id}:
    get:
      operationId: lookupEventStats
      tags:
      - Lookup
      summary: An event's team statistics
      description: |-
        Records measured 5 Oct 2026: **16**.

        Documented limit: 1.
      parameters:
      - name: id
        in: path
        required: true
        description: The event id.
        schema:
          type: integer
        example: 1032723
      responses:
        '200':
          description: The records under `lookup`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    lookup:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/EventStat'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                lookup:
                - idStatistic: '17'
                  idEvent: '1032723'
                  idApiFootball: '592172'
                  strEvent: Aston Villa vs Liverpool
                  strStat: Shots on Goal
                  intHome: '11'
                  intAway: '8'
                - idStatistic: '18'
                  idEvent: '1032723'
                  idApiFootball: '592172'
                  strEvent: Aston Villa vs Liverpool
                  strStat: Shots off Goal
                  intHome: '4'
                  intAway: '1'
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/lookup/event_timeline/{id}:
    get:
      operationId: lookupEventTimeline
      tags:
      - Lookup
      summary: An event's timeline
      description: |-
        Records measured 5 Oct 2026: **10**.

        Documented limit: 1.
      parameters:
      - name: id
        in: path
        required: true
        description: The event id.
        schema:
          type: integer
        example: 1032718
      responses:
        '200':
          description: The records under `lookup`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    lookup:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/TimelineEntry'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                lookup:
                - idTimeline: '871243'
                  idEvent: '1032718'
                  strTimeline: Card
                  strTimelineDetail: Yellow Card
                  strHome: 'No'
                  strEvent: Sheffield United vs Leeds
                  idAPIfootball: '592167'
                  idPlayer: '34147877'
                  strPlayer: Kalvin Phillips
                  strCutout: null
                  idAssist: null
                  strAssist: ''
                  intTime: '6'
                  strPeriod: null
                  idTeam: '133635'
                  strTeam: Leeds
                  strComment: ''
                  dateEvent: '2020-09-27'
                  strSeason: 2020-2021
                - idTimeline: '871244'
                  idEvent: '1032718'
                  strTimeline: subst
                  strTimelineDetail: Rodrigo
                  strHome: 'No'
                  strEvent: Sheffield United vs Leeds
                  idAPIfootball: '592167'
                  idPlayer: '34161977'
                  strPlayer: Tyler Roberts
                  strCutout: null
                  idAssist: '34149736'
                  strAssist: Rodrigo Moreno Machado
                  intTime: '46'
                  strPeriod: null
                  idTeam: '133635'
                  strTeam: Leeds
                  strComment: ''
                  dateEvent: '2020-09-27'
                  strSeason: 2020-2021
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/lookup/event_tv/{id}:
    get:
      operationId: lookupEventTv
      tags:
      - Lookup
      summary: The channels showing an event
      description: |-
        Records measured 5 Oct 2026: **13**.

        Documented limit: 1.
      parameters:
      - name: id
        in: path
        required: true
        description: The event id.
        schema:
          type: integer
        example: 2494052
      responses:
        '200':
          description: The records under `lookup`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    lookup:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/TvListing'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                lookup:
                - id: '1218715'
                  idEvent: '2494052'
                  intDivision: '0'
                  strSport: Soccer
                  strEvent: Arsenal vs Leeds United
                  strEventThumb: https://r2.thesportsdb.com/images/media/event/thumb/mayo9h1784549326.jpg
                  strEventPoster: https://r2.thesportsdb.com/images/media/event/poster/ekc9q71784549630.jpg
                  strEventBanner: https://r2.thesportsdb.com/images/media/event/banner/h61dc61784549908.jpg
                  strEventSquare: https://r2.thesportsdb.com/images/media/event/square/kzqbsy1784550175.jpg
                  idChannel: '582'
                  strCountry: India
                  strEventCountry: England
                  strLogo: https://r2.thesportsdb.com/images/media/channel/logo/7za33k1683192230.png
                  strChannel: Disney+ Hotstar
                  strSeason: 2026-2027
                  strTime: '11:30:00'
                  dateEvent: '2026-10-10'
                  strTimeStamp: '2026-10-10 11:30:00'
                - id: '1222527'
                  idEvent: '2494052'
                  intDivision: '0'
                  strSport: Soccer
                  strEvent: Arsenal vs Leeds United
                  strEventThumb: https://r2.thesportsdb.com/images/media/event/thumb/mayo9h1784549326.jpg
                  strEventPoster: https://r2.thesportsdb.com/images/media/event/poster/ekc9q71784549630.jpg
                  strEventBanner: https://r2.thesportsdb.com/images/media/event/banner/h61dc61784549908.jpg
                  strEventSquare: https://r2.thesportsdb.com/images/media/event/square/kzqbsy1784550175.jpg
                  idChannel: '5405'
                  strCountry: Romania
                  strEventCountry: England
                  strLogo: https://r2.thesportsdb.com/images/media/channel/logo/bjtbc31632236249.png
                  strChannel: VOYO
                  strSeason: 2026-2027
                  strTime: '11:30:00'
                  dateEvent: '2026-10-10'
                  strTimeStamp: '2026-10-10 11:30:00'
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/lookup/event_highlights/{id}:
    get:
      operationId: lookupEventHighlights
      tags:
      - Lookup
      summary: An event's highlight video
      description: |-
        The video URL is in `strVideo`.

        Records measured 5 Oct 2026: **1**.

        Documented limit: 1.
      parameters:
      - name: id
        in: path
        required: true
        description: The event id.
        schema:
          type: integer
        example: 441613
      responses:
        '200':
          description: The records under `lookup`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    lookup:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/Event'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                lookup:
                - idEvent: '441613'
                  idAPIfootball: null
                  strTimestamp: '2014-12-29T20:00:00'
                  strEvent: Liverpool vs Swansea
                  strEventAlternate: Swansea @ Liverpool
                  strFilename: English Premier League 2014-12-29 Liverpool vs Swansea
                  strSport: Soccer
                  idLeague: '4328'
                  strLeague: English Premier League
                  strLeagueBadge: https://r2.thesportsdb.com/images/media/league/badge/dsnjpz1679951317.png
                  strSeason: 2014-2015
                  strDescriptionEN: ''
                  strHomeTeam: Liverpool
                  strAwayTeam: Swansea
                  intHomeScore: '4'
                  intHomeScoreExtra: null
                  intAwayScoreExtra: null
                  intRound: '19'
                  intAwayScore: '1'
                  intSpectators: '44621'
                  strOfficial: null
                  strWeather: null
                  dateEvent: '2014-12-29'
                  dateEventLocal: '2014-12-29'
                  strTime: '20:00:00'
                  strTimeLocal: '20:00:00'
                  strGroup: null
                  idHomeTeam: '133602'
                  strHomeTeamBadge: null
                  idAwayTeam: '133614'
                  strAwayTeamBadge: null
                  intScore: null
                  intScoreVotes: null
                  strResult: ''
                  idVenue: '15407'
                  strVenue: Anfield
                  strCountry: England
                  strCity: Liverpool
                  strPoster: null
                  strSquare: null
                  strFanart: null
                  strThumb: null
                  strBanner: null
                  strMap: null
                  strTweet1: ''
                  strVideo: ''
                  strStatus: null
                  strPostponed: 'no'
                  strLocked: unlocked
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/lookup/venue/{id}:
    get:
      operationId: lookupVenue
      tags:
      - Lookup
      summary: Look up a venue
      description: |-
        Records measured 5 Oct 2026: **1**.

        Documented limit: 1.
      parameters:
      - name: id
        in: path
        required: true
        description: The venue id.
        schema:
          type: integer
        example: 16163
      responses:
        '200':
          description: The records under `lookup`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    lookup:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/Venue'
                        maxItems: 1
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                lookup:
                - idVenue: '16163'
                  idDupe: null
                  strVenue: Wembley Stadium
                  intLoved: null
                  strVenueAlternate: Wembley
                  strVenueSponsor: ''
                  strSport: Soccer
                  strDescriptionEN: Wembley Stadium (currently known officially as Wembley Stadium connected by EE for commercial
                    sponsorship reasons) is an association football stadium in Wemb…
                  strArchitect: ''
                  intCapacity: '90000'
                  strCost: £789 million
                  strCountry: England
                  strLocation: Wembley, London
                  strTimezone: UTC +00:00 Greenwich Mean Time (GMT)
                  intFormedYear: '2007'
                  strFanart1: https://r2.thesportsdb.com/images/media/venue/fanart/7tpavy1708696222.jpg
                  strFanart2: https://r2.thesportsdb.com/images/media/venue/fanart/3zirzg1708696411.jpg
                  strFanart3: https://r2.thesportsdb.com/images/media/venue/fanart/c482m41708696417.jpg
                  strFanart4: https://r2.thesportsdb.com/images/media/venue/fanart/ncll4t1708696444.jpg
                  strThumb: https://r2.thesportsdb.com/images/media/venue/thumb/qttuty1420627847.jpg
                  strLogo: https://r2.thesportsdb.com/images/media/venue/logo/zowstr1709984100.png
                  strMap: 51.555556, -0.279444
                  strWebsite: www.wembleystadium.com
                  strFacebook: www.facebook.com/WembleyStadium
                  strInstagram: www.instagram.com/wembleystadium
                  strTwitter: twitter.com/wembleystadium
                  strYoutube: ''
                  strCreativeCommons: 'NO'
                  strLocked: unlocked
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/list/teams/{id}:
    get:
      operationId: listTeams
      tags:
      - Lists
      summary: A league's teams
      description: |-
        Badges and colours, but no alternate names: look teams up by id for those.

        Records measured 5 Oct 2026: **20**.

        Documented limit: 100.
      parameters:
      - name: id
        in: path
        required: true
        description: The league id.
        schema:
          type: integer
        example: 4328
      responses:
        '200':
          description: The records under `list`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    list:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/Team'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                list:
                - idTeam: '133600'
                  strTeam: Fulham
                  strTeamShort: FUL
                  strColour1: '#FFFFFF'
                  strColour2: '#000000'
                  strColour3: '#CC0000'
                  idLeague: '4328'
                  strLeague: English Premier League
                  strBadge: https://r2.thesportsdb.com/images/media/team/badge/xwwvyt1448811086.png
                  strLogo: https://r2.thesportsdb.com/images/media/team/logo/dk83vs1549368400.png
                  strBanner: https://r2.thesportsdb.com/images/media/team/banner/cjl9kv1532296720.jpg
                  strFanart1: https://r2.thesportsdb.com/images/media/team/fanart/jv19st1532296431.jpg
                  strEquipment: https://r2.thesportsdb.com/images/media/team/equipment/207eo51788882201.png
                  strCountry: England
                - idTeam: '133601'
                  strTeam: Aston Villa
                  strTeamShort: AVL
                  strColour1: '#490125'
                  strColour2: '#93bde4'
                  strColour3: '#fee407'
                  idLeague: '4328'
                  strLeague: English Premier League
                  strBadge: https://r2.thesportsdb.com/images/media/team/badge/uwzw561787679026.png
                  strLogo: https://r2.thesportsdb.com/images/media/team/logo/bngac51772033192.png
                  strBanner: https://r2.thesportsdb.com/images/media/team/banner/vrttsr1421749709.jpg
                  strFanart1: https://r2.thesportsdb.com/images/media/team/fanart/p8xxwp1731826441.jpg
                  strEquipment: https://r2.thesportsdb.com/images/media/team/equipment/myv3051785745524.png
                  strCountry: England
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/list/seasons/{id}:
    get:
      operationId: listSeasons
      tags:
      - Lists
      summary: A league's seasons
      description: |-
        With badge, poster and description.

        Records measured 5 Oct 2026: **35**.

        Documented limit: 100.
      parameters:
      - name: id
        in: path
        required: true
        description: The league id.
        schema:
          type: integer
        example: 4328
      responses:
        '200':
          description: The records under `list`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    list:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/Season'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                list:
                - strSeason: 1992-1993
                  strPoster: null
                  strBadge: https://r2.thesportsdb.com/images/media/league/badgearchive/02egea1661959225.png
                  strDescriptionEN: The 1992–93 FA Premier League was the inaugural season of the Premier League, the top
                    division of English football. The season began on 15 August 1992 and en…
                - strSeason: 1993-1994
                  strPoster: null
                  strBadge: https://r2.thesportsdb.com/images/media/league/badgearchive/d9hqy61661959233.png
                  strDescriptionEN: The 1993–94 FA Premier League (known as the FA Carling Premiership for sponsorship reasons)
                    was the second season of the FA Premier League, the top division …
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/list/players/{id}:
    get:
      operationId: listPlayers
      tags:
      - Lists
      summary: A team's squad
      description: |-
        Records measured 5 Oct 2026: **27**.

        Documented limit: 100.
      parameters:
      - name: id
        in: path
        required: true
        description: The team id.
        schema:
          type: integer
        example: 133604
      responses:
        '200':
          description: The records under `list`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    list:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/Player'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                list:
                - idPlayer: '34145406'
                  strPlayer: Mikel Arteta
                  idTeam: '133604'
                  strTeam: Arsenal
                  strThumb: https://r2.thesportsdb.com/images/media/player/thumb/kgojrb1711448509.jpg
                  strCutout: https://r2.thesportsdb.com/images/media/player/cutout/2ljkmz1586766347.png
                  strRender: https://r2.thesportsdb.com/images/media/player/render/g67hg91586766373.png
                  dateBorn: '1982-03-26'
                  strPosition: Manager
                - idPlayer: '34148681'
                  strPlayer: David Raya
                  idTeam: '133604'
                  strTeam: Arsenal
                  strThumb: https://r2.thesportsdb.com/images/media/player/thumb/m4qf0r1786386458.jpg
                  strCutout: https://r2.thesportsdb.com/images/media/player/cutout/esy9341788606559.png
                  strRender: https://r2.thesportsdb.com/images/media/player/render/dqsy0a1696666811.png
                  dateBorn: '1995-09-15'
                  strPosition: Goalkeeper
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/all/countries:
    get:
      operationId: allCountries
      tags:
      - All
      summary: All countries
      description: |-
        Records measured 5 Oct 2026: **256**.

        Documented limit: 500.
      parameters: []
      responses:
        '200':
          description: The records under `all`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    all:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/Country'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                all:
                - idAPIfootball: null
                  code: AD
                  name_en: Andorra
                  name_fr: Andorre
                  flag_url_16: https://www.thesportsdb.com/images/icons/flags/shiny/16/Andorra.png
                  flag_url_32: https://www.thesportsdb.com/images/icons/flags/shiny/32/Andorra.png
                  flag_url_64: https://www.thesportsdb.com/images/icons/flags/shiny/64/Andorra.png
                - idAPIfootball: null
                  code: AE
                  name_en: United Arab Emirates
                  name_fr: Émirats arabes unis
                  flag_url_16: https://www.thesportsdb.com/images/icons/flags/shiny/16/United-Arab-Emirates.png
                  flag_url_32: https://www.thesportsdb.com/images/icons/flags/shiny/32/United-Arab-Emirates.png
                  flag_url_64: https://www.thesportsdb.com/images/icons/flags/shiny/64/United-Arab-Emirates.png
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/all/sports:
    get:
      operationId: allSports
      tags:
      - All
      summary: All sports
      description: |-
        Records measured 5 Oct 2026: **37**.

        Documented limit: 500.
      parameters: []
      responses:
        '200':
          description: The records under `all`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    all:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/Sport'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                all:
                - idSport: '102'
                  strSport: Soccer
                  strFormat: TeamvsTeam
                  strSportThumb: https://www.thesportsdb.com/images/sports/soccer.jpg
                  strSportThumbBW: https://www.thesportsdb.com/images/sports/bw/soccer.jpg
                  strSportIconGreen: https://www.thesportsdb.com/images/icons/sports/soccer.png
                  strSportDescription: Association football, more commonly known as football or soccer, is a team sport played
                    between two teams of eleven players with a spherical ball. It is play…
                - idSport: '103'
                  strSport: Motorsport
                  strFormat: EventSport
                  strSportThumb: https://www.thesportsdb.com/images/sports/motorsport.jpg
                  strSportThumbBW: https://www.thesportsdb.com/images/sports/bw/motorsport.jpg
                  strSportIconGreen: https://www.thesportsdb.com/images/icons/sports/motorsport.png
                  strSportDescription: Motorsport or motor sport is a global term used to encompass the group of competitive
                    sporting events which primarily involve the use of motorised vehicles, …
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/all/leagues:
    get:
      operationId: allLeagues
      tags:
      - All
      summary: All leagues
      description: |-
        Records measured 5 Oct 2026: **1547**.

        Documented limit: 3000.
      parameters: []
      responses:
        '200':
          description: The records under `all`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    all:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/League'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                all:
                - idLeague: '4328'
                  strLeague: English Premier League
                  strSport: Soccer
                  strLeagueAlternate: Premier League, EPL, England
                - idLeague: '4329'
                  strLeague: English League Championship
                  strSport: Soccer
                  strLeagueAlternate: England EFL Championship, English Football League Championship
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/schedule/next/league/{id}:
    get:
      operationId: scheduleNextLeague
      tags:
      - Schedules
      summary: Next events of a league
      description: |-
        Records measured 5 Oct 2026: **20**.

        Documented limit: 10.
      parameters:
      - name: id
        in: path
        required: true
        description: The league id.
        schema:
          type: integer
        example: 4328
      responses:
        '200':
          description: The records under `schedule`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    schedule:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/Event'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                schedule:
                - idEvent: '2494052'
                  strEvent: Arsenal vs Leeds United
                  strEventAlternate: Leeds United @ Arsenal
                  strSeason: 2026-2027
                  idLeague: '4328'
                  strLeague: English Premier League
                  strLeagueBadge: https://r2.thesportsdb.com/images/media/league/badge/gasy9d1737743125.png
                  strSport: Soccer
                  strHomeTeam: Arsenal
                  strAwayTeam: Leeds United
                  idHomeTeam: '133604'
                  idAwayTeam: '133635'
                  intRound: '6'
                  intHomeScore: null
                  intAwayScore: null
                  strTimestamp: '2026-10-10T11:30:00'
                  dateEvent: '2026-10-10'
                  dateEventLocal: null
                  strTime: '11:30:00'
                  strTimeLocal: null
                  strHomeTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/uyhbfe1612467038.png
                  strAwayTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/jcgrml1756649030.png
                  idVenue: '15528'
                  strVenue: Emirates Stadium
                  strCountry: England
                  strThumb: https://r2.thesportsdb.com/images/media/event/thumb/mayo9h1784549326.jpg
                  strPoster: https://r2.thesportsdb.com/images/media/event/poster/ekc9q71784549630.jpg
                  strVideo: null
                  strPostponed: 'no'
                  strFilename: English Premier League 2026-10-10 Arsenal vs Leeds United
                  strStatus: NS
                - idEvent: '2494053'
                  strEvent: Chelsea vs Bournemouth
                  strEventAlternate: Bournemouth @ Chelsea
                  strSeason: 2026-2027
                  idLeague: '4328'
                  strLeague: English Premier League
                  strLeagueBadge: https://r2.thesportsdb.com/images/media/league/badge/gasy9d1737743125.png
                  strSport: Soccer
                  strHomeTeam: Chelsea
                  strAwayTeam: Bournemouth
                  idHomeTeam: '133610'
                  idAwayTeam: '134301'
                  intRound: '6'
                  intHomeScore: null
                  intAwayScore: null
                  strTimestamp: '2026-10-10T14:00:00'
                  dateEvent: '2026-10-10'
                  dateEventLocal: null
                  strTime: '14:00:00'
                  strTimeLocal: null
                  strHomeTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/pbf4ul1782638263.png
                  strAwayTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/y08nak1534071116.png
                  idVenue: '16126'
                  strVenue: Stamford Bridge
                  strCountry: England
                  strThumb: https://r2.thesportsdb.com/images/media/event/thumb/q8dbtn1785931536.jpg
                  strPoster: https://r2.thesportsdb.com/images/media/event/poster/xge61b1785931595.jpg
                  strVideo: null
                  strPostponed: 'no'
                  strFilename: English Premier League 2026-10-10 Chelsea vs Bournemouth
                  strStatus: NS
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/schedule/next/team/{id}:
    get:
      operationId: scheduleNextTeam
      tags:
      - Schedules
      summary: Next events of a team
      description: |-
        Records measured 5 Oct 2026: **10**.

        Documented limit: 10.
      parameters:
      - name: id
        in: path
        required: true
        description: The team id.
        schema:
          type: integer
        example: 133604
      responses:
        '200':
          description: The records under `schedule`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    schedule:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/Event'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                schedule:
                - idEvent: '2494052'
                  strEvent: Arsenal vs Leeds United
                  strEventAlternate: Leeds United @ Arsenal
                  strSeason: 2026-2027
                  idLeague: '4328'
                  strLeague: English Premier League
                  strLeagueBadge: https://r2.thesportsdb.com/images/media/league/badge/gasy9d1737743125.png
                  strSport: Soccer
                  strHomeTeam: Arsenal
                  strAwayTeam: Leeds United
                  idHomeTeam: '133604'
                  idAwayTeam: '133635'
                  intRound: '6'
                  intHomeScore: null
                  intAwayScore: null
                  strTimestamp: '2026-10-10T11:30:00'
                  dateEvent: '2026-10-10'
                  dateEventLocal: null
                  strTime: '11:30:00'
                  strTimeLocal: null
                  strHomeTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/uyhbfe1612467038.png
                  strAwayTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/jcgrml1756649030.png
                  idVenue: '15528'
                  strVenue: Emirates Stadium
                  strCountry: England
                  strThumb: https://r2.thesportsdb.com/images/media/event/thumb/mayo9h1784549326.jpg
                  strPoster: https://r2.thesportsdb.com/images/media/event/poster/ekc9q71784549630.jpg
                  strVideo: null
                  strPostponed: 'no'
                  strFilename: English Premier League 2026-10-10 Arsenal vs Leeds United
                  strStatus: NS
                - idEvent: '2594543'
                  strEvent: Arsenal vs Lille
                  strEventAlternate: Lille @ Arsenal
                  strSeason: 2026-2027
                  idLeague: '4480'
                  strLeague: UEFA Champions League
                  strLeagueBadge: https://r2.thesportsdb.com/images/media/league/badge/facv1u1742998896.png
                  strSport: Soccer
                  strHomeTeam: Arsenal
                  strAwayTeam: Lille
                  idHomeTeam: '133604'
                  idAwayTeam: '133711'
                  intRound: '2'
                  intHomeScore: null
                  intAwayScore: null
                  strTimestamp: '2026-10-13T19:00:00'
                  dateEvent: '2026-10-13'
                  dateEventLocal: '2026-10-13'
                  strTime: '19:00:00'
                  strTimeLocal: ''
                  strHomeTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/uyhbfe1612467038.png
                  strAwayTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/2giize1534005340.png
                  idVenue: '15528'
                  strVenue: Emirates Stadium
                  strCountry: England
                  strThumb: https://r2.thesportsdb.com/images/media/event/thumb/g8oict1787915576.jpg
                  strPoster: https://r2.thesportsdb.com/images/media/event/poster/3qjgn51787915708.jpg
                  strVideo: ''
                  strPostponed: 'no'
                  strFilename: UEFA Champions League 2026-10-13 Arsenal vs Lille
                  strStatus: NS
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/schedule/next/venue/{id}:
    get:
      operationId: scheduleNextVenue
      tags:
      - Schedules
      summary: Next events of a venue
      description: |-
        Records measured 5 Oct 2026: **3**.

        Documented limit: 10.
      parameters:
      - name: id
        in: path
        required: true
        description: The venue id.
        schema:
          type: integer
        example: 16163
      responses:
        '200':
          description: The records under `schedule`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    schedule:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/Event'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                schedule:
                - idEvent: '2442817'
                  strEvent: England vs Czech Republic
                  strEventAlternate: Czech Republic @ England
                  strSeason: 2026-2027
                  idLeague: '4490'
                  strLeague: UEFA Nations League
                  strLeagueBadge: https://r2.thesportsdb.com/images/media/league/badge/cwsp321698386224.png
                  strSport: Soccer
                  strHomeTeam: England
                  strAwayTeam: Czech Republic
                  idHomeTeam: '133914'
                  idAwayTeam: '133904'
                  intRound: '4'
                  intHomeScore: null
                  intAwayScore: null
                  strTimestamp: '2026-10-06T18:45:00'
                  dateEvent: '2026-10-06'
                  dateEventLocal: null
                  strTime: '18:45:00'
                  strTimeLocal: null
                  strHomeTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/vf5ttc1726166739.png
                  strAwayTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/1o0cx31654205806.png
                  idVenue: '16163'
                  strVenue: Wembley Stadium
                  strCountry: England
                  strThumb: https://r2.thesportsdb.com/images/media/event/thumb/znobw91786994421.jpg
                  strPoster: ''
                  strVideo: null
                  strPostponed: 'no'
                  strFilename: UEFA Nations League 2026-10-06 England vs Czech Republic
                  strStatus: NS
                - idEvent: '2475454'
                  strEvent: Jacksonville Jaguars vs Houston Texans
                  strEventAlternate: Houston Texans @ Jacksonville Jaguars
                  strSeason: '2026'
                  idLeague: '4391'
                  strLeague: NFL
                  strLeagueBadge: https://r2.thesportsdb.com/images/media/league/badge/g85fqz1662057187.png
                  strSport: American Football
                  strHomeTeam: Jacksonville Jaguars
                  strAwayTeam: Houston Texans
                  idHomeTeam: '134928'
                  idAwayTeam: '134926'
                  intRound: '6'
                  intHomeScore: null
                  intAwayScore: null
                  strTimestamp: '2026-10-18T13:30:00'
                  dateEvent: '2026-10-18'
                  dateEventLocal: '2026-10-18'
                  strTime: '13:30:00'
                  strTimeLocal: '14:30:00'
                  strHomeTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/0mrsd41546427902.png
                  strAwayTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/o71ce41784719551.png
                  idVenue: '16163'
                  strVenue: Wembley Stadium
                  strCountry: United Kingdom
                  strThumb: https://r2.thesportsdb.com/images/media/event/thumb/4dzagh1784759822.jpg
                  strPoster: https://r2.thesportsdb.com/images/media/event/poster/bm87gw1716473405.jpg
                  strVideo: ''
                  strPostponed: 'no'
                  strFilename: NFL 2026-10-18 Jacksonville Jaguars vs Houston Texans
                  strStatus: NS
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/schedule/previous/league/{id}:
    get:
      operationId: schedulePreviousLeague
      tags:
      - Schedules
      summary: Previous events of a league
      description: |-
        Records measured 5 Oct 2026: **20**.

        Documented limit: 10.
      parameters:
      - name: id
        in: path
        required: true
        description: The league id.
        schema:
          type: integer
        example: 4328
      responses:
        '200':
          description: The records under `schedule`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    schedule:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/Event'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                schedule:
                - idEvent: '2494042'
                  strEvent: Fulham vs Manchester United
                  strEventAlternate: Manchester United @ Fulham
                  strSeason: 2026-2027
                  idLeague: '4328'
                  strLeague: English Premier League
                  strLeagueBadge: https://r2.thesportsdb.com/images/media/league/badge/gasy9d1737743125.png
                  strSport: Soccer
                  strHomeTeam: Fulham
                  strAwayTeam: Manchester United
                  idHomeTeam: '133600'
                  idAwayTeam: '133612'
                  intRound: '5'
                  intHomeScore: '1'
                  intAwayScore: '1'
                  strTimestamp: '2026-09-20T15:30:00'
                  dateEvent: '2026-09-20'
                  dateEventLocal: '2026-09-20'
                  strTime: '15:30:00'
                  strTimeLocal: '16:30:00'
                  strHomeTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/xwwvyt1448811086.png
                  strAwayTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/xzqdr11517660252.png
                  idVenue: '16373'
                  strVenue: Craven Cottage
                  strCountry: England
                  strThumb: https://r2.thesportsdb.com/images/media/event/thumb/yvirsk1784549319.jpg
                  strPoster: https://r2.thesportsdb.com/images/media/event/poster/mwnm8a1784549623.jpg
                  strVideo: https://www.youtube.com/watch?v=Iw-n4AhB960
                  strPostponed: 'no'
                  strFilename: English Premier League 2026-09-20 Fulham vs Manchester United
                  strStatus: FT
                - idEvent: '2494048'
                  strEvent: Leeds United vs Crystal Palace
                  strEventAlternate: Crystal Palace @ Leeds United
                  strSeason: 2026-2027
                  idLeague: '4328'
                  strLeague: English Premier League
                  strLeagueBadge: https://r2.thesportsdb.com/images/media/league/badge/gasy9d1737743125.png
                  strSport: Soccer
                  strHomeTeam: Leeds United
                  strAwayTeam: Crystal Palace
                  idHomeTeam: '133635'
                  idAwayTeam: '133632'
                  intRound: '5'
                  intHomeScore: '0'
                  intAwayScore: '0'
                  strTimestamp: '2026-09-20T13:00:00'
                  dateEvent: '2026-09-20'
                  dateEventLocal: '2026-09-20'
                  strTime: '13:00:00'
                  strTimeLocal: '14:00:00'
                  strHomeTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/jcgrml1756649030.png
                  strAwayTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/ia6i3m1656014992.png
                  idVenue: '15534'
                  strVenue: Elland Road
                  strCountry: England
                  strThumb: https://r2.thesportsdb.com/images/media/event/thumb/9rjviz1784549323.jpg
                  strPoster: https://r2.thesportsdb.com/images/media/event/poster/xetfpk1784549627.jpg
                  strVideo: https://www.youtube.com/watch?v=0py0BrSoADQ
                  strPostponed: 'no'
                  strFilename: English Premier League 2026-09-20 Leeds United vs Crystal Palace
                  strStatus: FT
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/schedule/previous/team/{id}:
    get:
      operationId: schedulePreviousTeam
      tags:
      - Schedules
      summary: Previous events of a team
      description: |-
        Records measured 5 Oct 2026: **10**.

        Documented limit: 10.
      parameters:
      - name: id
        in: path
        required: true
        description: The team id.
        schema:
          type: integer
        example: 133604
      responses:
        '200':
          description: The records under `schedule`.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    schedule:
                      oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/Event'
                      - type: 'null'
                        description: No results.
                - $ref: '#/components/schemas/NoData'
              example:
                schedule:
                - idEvent: '2494046'
                  strEvent: Brighton and Hove Albion vs Arsenal
                  strEventAlternate: Arsenal @ Brighton and Hove Albion
                  strSeason: 2026-2027
                  idLeague: '4328'
                  strLeague: English Premier League
                  strLeagueBadge: https://r2.thesportsdb.com/images/media/league/badge/gasy9d1737743125.png
                  strSport: Soccer
                  strHomeTeam: Brighton and Hove Albion
                  strAwayTeam: Arsenal
                  idHomeTeam: '133619'
                  idAwayTeam: '133604'
                  intRound: '5'
                  intHomeScore: '3'
                  intAwayScore: '0'
                  strTimestamp: '2026-09-19T14:00:00'
                  dateEvent: '2026-09-19'
                  dateEventLocal: '2026-09-19'
                  strTime: '14:00:00'
                  strTimeLocal: '15:00:00'
                  strHomeTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/ywypts1448810904.png
                  strAwayTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/uyhbfe1612467038.png
                  idVenue: '28853'
                  strVenue: American Express Stadium
                  strCountry: England
                  strThumb: https://r2.thesportsdb.com/images/media/event/thumb/r00vzl1784549322.jpg
                  strPoster: https://r2.thesportsdb.com/images/media/event/poster/bq285i1784549626.jpg
                  strVideo: https://www.youtube.com/watch?v=wxLAoSyE0AE
                  strPostponed: 'no'
                  strFilename: English Premier League 2026-09-19 Brighton and Hove Albion vs Arsenal
                  strStatus: FT
                - idEvent: '2594459'
                  strEvent: Ipswich Town vs Arsenal
                  strEventAlternate: Arsenal @ Ipswich Town
                  strSeason: 2026-2027
                  idLeague: '4570'
                  strLeague: EFL Cup
                  strLeagueBadge: https://r2.thesportsdb.com/images/media/league/badge/x1va771565372556.png
                  strSport: Soccer
                  strHomeTeam: Ipswich Town
                  strAwayTeam: Arsenal
                  idHomeTeam: '133622'
                  idAwayTeam: '133604'
                  intRound: '32'
                  intHomeScore: '2'
                  intAwayScore: '4'
                  strTimestamp: '2026-09-15T19:00:00'
                  dateEvent: '2026-09-15'
                  dateEventLocal: '2026-09-15'
                  strTime: '19:00:00'
                  strTimeLocal: '20:00:00'
                  strHomeTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/mdj1ey1634670785.png
                  strAwayTeamBadge: https://r2.thesportsdb.com/images/media/team/badge/uyhbfe1612467038.png
                  idVenue: '16258'
                  strVenue: Portman Road
                  strCountry: England
                  strThumb: https://r2.thesportsdb.com/images/media/event/thumb/uajo1v1788782660.jpg
                  strPoster: ''
                  strVideo: https://www.youtube.com/watch?v=LBXdqM0NauA
                  strPostponed: 'no'
                  strFilename: EFL Cup 2026-09-15 Ipswich Town vs Arsenal
                  strStatus: FT
        '400':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v2/json/schedule/previous/venue/{id}:
    get:
      operationId: schedulePreviousVenue
      tags:
      - Schedules
      summary: Previous events of a venue
      description: |-
        Records measured 5 Oct 2026: **10**.

        Documented limit: 10.
      parameters:
      - name: id
        in: path
        required: true
        description: The venue id.
        schema:
          type: integer
        example: 16163
      responses:
        '200':
          description: The records under `schedule`.
[...]
